<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Failsafe Moulded Wirewound Resistors</title>
    <meta name="description" content=""/>    
    <meta name="keywords" content=""/>    
    <link href="/tedss/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/libraries/css/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/tedss/content/css/site.css" rel="stylesheet">
    <link href="/libraries/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="/libraries/javascript/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body id="top">
    <!--container***************************************-->
    <div class="container">        
        <div class="row" id="topPanel">
            <div class="col-lg-6" id="header2">
                <div class="media">
                    <div class="media-left d-none d-lg-block"  id="mLogo">
                        <a class="media-object" href="#"><img alt="Tedss.com logo." src="/tedss/content/images/tedssDotComLogo.png" /></a>
                    </div>
                    <div class="media-body  d-flex flex-column">
                        <div class="media-heading text-center"><h2 class="noWrap">Discount Electronic Components</h2></div>
                        <div class="order-first order-lg-2 text-center"><a href="#"><img class="img-fluid text-center" src="/tedss/content/images/tedssNamePic.png" width="415" height="38" alt="Tedss.com text."/></a></div>			
                    </div>
                </div>
            </div>  
            <div class="col-lg-6 " id="header3">
                <div class="text-center text-lg-right basket dSmallerTxt2">
                    <a href="#">My Account</a> | 
                    <a href="#">Sign In</a> | 
                    <a href="#">Shopping Cart</a>
                    <span> (0)</span>
                </div>                    
                <form class="form-inline justify-content-end" method="post" action="/Catalog/">
                    <div class="searchBox input-group input-group-sm">                        
                        <input class="form-control form-control-lg" name="SearchString"  type="text" placeholder="Search"   aria-label="Search"/>
                        <div class="input-group-append"><button class="btn form-control btn-primary" type="submit">Search</button></div>                        
                    </div>
                </form>
                <div class="text-center text-lg-right mt-1 mt-lg-0">Need assistance? Give us a call. (631) 234-3857</div>
            </div>
        </div>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded text-uppercase  py-0 py-lg-0" id="mainMenu">
            <span class="navbar-brand d-lg-none">Top menu</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Home</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Product Catalog</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Resources</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">About Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Contact Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">My Account</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item noWrap">
                        <!-- BEGIN ProvideSupport.com Text Chat Link Code -->
                        <div id="ciicT1" style="z-index:100;position:absolute"></div><div style="display:inline"><a href="#">LIVE CHAT</a></div></noscript>
                        <!-- END ProvideSupport.com Text Chat Link Code -->
                    </li>
                </ul>
            </div>
        </nav>  
        <div class="framedArea my-2">
            <div class="lightColorBar mx-2 mt-1 pl-3 text-center text-center"><h1>Failsafe Moulded Wirewound Resistors</h1></div>
            <div class="breadCrumbs text-uppercase mx-3 mt-2"><a href="/">HOME</a> > <a href="/LearnMore">RESOURCES</a> > Failsafe Moulded Wirewound Resistors</div>    
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Specifications</h2></div>
            <div class=row>
                <div class="col-md-6">
                    <p class="m-2 ml-md-4">
                        The unique feature of this series of wire wound resistors is their case size. 
                        To make more compact resistors, IRC developed the BWH series and the BWF series which are rated at 2 watts, however they're encapsulated in a 1 watt case size. 
                        The same applies for the BW20 series and the BW20F series which are rated at a 1 watt rating encapsulated in a ½ watt case size.
                    </p>            
                    <img src="/tedss/content/images/failsafeWirewoundResistors/FailsafeResistor.jpg" class="img-fluid">
                    <p class="m-2 ml-md-4">
                        <strong>Case sizes:</strong>
                    </p>
                    <ul class="m-2 ml-md-6">
                        <li><a href="/tedss/content/images/failsafeWirewoundResistors/BWH-BWF-SPH-SPF.png"  alt="BWH-BWF-SPH-SPF Size" class="fancybox">SPH/SPF/BWH/BWF</a></li>        
                        <li><a href="/tedss/content/images/failsafeWirewoundResistors/SP20-SP20F.PNG" alt="SP20-SP20F Size" class="fancybox">SP20/SP20F/BW20/BW20F</a></li>
                    </ul>
                    <p class="m-2 ml-md-4">
                        Note: After <strong>IRC</strong> was bought out by <strong>TRW/TT Electronics</strong> the BWH, BWF, BW20 and the BW20F series were discontinued. 
                        <strong>TRW/TT Electronics</strong> released a new series of resistors that serve as drop in replacements for the older series. 
                        To cross reference the older series to the new series <a href="#cross-reference">click here</a>.  
                    </p>  
                </div>
                <div class="col-md-6">
                    <img src="/tedss/content/images/failsafeWirewoundResistors/resistor-breakdown.jpg" alt="resistor-breakdown" class="mt-2 mr-2 img-fluid text-center">
                    <p class="m-2 ml-md-4">
                        1.<strong>Resistive Element</strong>:<br>
                        Every type of wire wound resistor has a resistive alloy winding on a braided fiberglass substrate. 
                        To increase processibility and protect the resistive element, these resistors are coated in a silicone coating.  
                    </p>
                    <p class="m-2 ml-md-4">
                        2.<strong>Encapsulation</strong>:<br>
                        This type of resistor is encapsulated in a compressed molded phenolic plastic material. 
                        Any part number ending with the letter “<strong>F</strong>”, 
                        simply means that there is a flame retardant coating applied to the resistive element. 
                        Which provides flammability protection when a destructive load may occur.
                    </p>
                    <p class="m-2 ml-md-4">
                        3.<strong>Termination</strong>:<br>
                        This series of wirewound resistors are terminated using a copper flashed steel lead with an alloy coating, 
                        which is then welded to a cap made out of the same material.
                    </p>
                </div>
            </div>
            <div class="col-12 table-responsive mt-2 mt-md-3">
                <table class="table table-striped text-center">
                    <thead class="text-center">
                        <tr>
                            <th scope="col" colspan="4">Moulded Wirewound Resistors Specifications</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Series</th>
                            <th scope="col">Resistance Range</th>
                            <th scope="col">Power Rating</th>
                            <th scope="col">Case Size</th>
                        </tr>                  
                        <tr>
                            <th scope="col">SPH</th>
                            <td>.01 ohm to 2400 ohms</td>
                            <td>2 Watt at 70°C<br>
                                1 Watt at 115°C<br>
                                Derating to 0 at 160°C
                            </td>
                            <td>2 Watt rated with 1 Watt dimensions</td>
                        </tr>
                        <tr>
                            <th scope="col">SPF</th>
                            <td>0.1 ohm to 1000 ohms</td>
                            <td>2 Watt at 70°C<br>
                                1 Watt at 115°C<br>
                                Derating to 0 at 160°C
                            </td>
                            <td>2 Watt rated with 1 Watt dimensions</td>
                        </tr>    
                        <tr>
                            <th scope="col">SP20</th>
                            <td>0.1 ohm to 1200 ohms</td>
                            <td>
                                1 Watt at 50°C<br>
                                0.75 Watt at 70°C<br>
                                Derating to 0 at 160°C
                            </td>
                            <td>1 Watt rated with 1/2 Watt dimensions</td>
                        </tr>
                        <tr>
                            <th scope="col">SP20F</th>
                            <td>0.1 ohm to 1000 ohms</td>
                            <td>
                                1 Watt at 50°C<br>
                                0.75 Watt at 70°C<br>
                                Derating to 0 at 160°C
                            </td>
                            <td>1 Watt rated with 1/2 Watt dimensions</td>
                        </tr>
                        <tr>
                            <th scope="col">BWH</th>
                            <td>.01 ohm to 2400 ohms</td>
                            <td>2 Watt at 70°C<br>
                                1/2 Watt at 137°C<br>
                                Derating to 0 at 150°C
                            </td>
                            <td>2 Watt rated with 1 Watt dimensions</td>
                        </tr>
                        <tr>
                            <th scope="col">BWF</th>
                            <td>0.1 ohm to 1000 ohms</td>
                            <td>2 Watt at 70°C<br>
                                1/2 Watt at 137°C<br>
                                Derating to 0 at 150°C
                            </td>
                            <td>2 Watt rated with 1 Watt dimensions</td>
                        </tr>                    
                        <tr>
                            <th scope="col">BW20</th>
                            <td>0.1 ohm to 1200 ohms</td>
                            <td>
                                1 Watt at 50°C<br>
                                0.25 Watt at 125°C<br>
                                Derating to 0 at 160°C
                            </td>
                            <td>1 Watt rated with 1/2 Watt dimensions</td>
                        </tr>
                        <tr>
                            <th scope="col">BW20F</th>
                            <td>0.1 ohm to 1000 ohms</td>
                            <td>
                                1 Watt at 50°C<br>
                                0.25 Watt at 125°C<br>
                                Derating to 0 at 160°C
                            </td>
                            <td>1 Watt rated with 1/2 Watt dimensions</td>
                        </tr>
                    </tbody>
                </table>      
            </div>     
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Ordering Information For The <strong>SPH/SPF, SP20/SP20F, BWH/BWF, BW20/BW20F Series</strong> Resistors.</h2></div>        
            <div class="mt-2 mt-md-3 table-responsive col-md-10 mx-auto">
                <p class="m-2 ml-md-4"><strong>An example:  SPF - 150 - 5%</strong></p>
                <table class="table table-sm borderless text-center">
                    <tr>
                        <td><strong>SPF</strong></td>
                        <td><strong>-</strong></td>
                        <td><strong>150</strong></td>
                        <td><strong>-</strong></td>
                        <td><strong>5%</strong></td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td></td>
                        <td>|</td>
                        <td></td>
                        <td>|</td>
                    </tr>
                    <tr>
                        <td>Series</td>
                        <td></td>
                        <td>Resistance</td>
                        <td></td>
                        <td>Tolerance</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td>2</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                </table>        
            </div>
            <div>
                <p class="m-2 ml-md-4">1. <strong>Series</strong></p>
                    <p class="m-2 ml-md-4">
                        Current TRW/TT Electronics Part Numbers.
                    </p>
                    <ul class="m-2 ml-md-4">
                        <li>SPH</li>
                        <li>SP<strong>F</strong></li>
                        <li>SP20</li>
                        <li>SP20<strong>F</strong></li>
                    </ul>
                    <p class="m-2 ml-md-4">
                        Obsolete IRC Part Numbers.
                    </p>
                    <ul class="m-2 ml-md-4">                
                        <li>BWH</li>
                        <li>BW<strong>F</strong></li>                
                        <li>BW20</li>
                        <li>BW20<strong>F</strong></li>               
                    </ul>
                    <p class="m-2 ml-md-4">
                        Note: <strong>F</strong> = Flame resistance coating applied.
                    </p>            
                <p class="m-2 ml-md-4">2. <strong>Resistance</strong><br>Resistance is expressed in Ω (ohms), use a decimal point and as many digits as required.</p>                      
                <p class="m-2 ml-md-4">3. <strong>Tolerance</strong><br>Tolerance is expressed as a percentage.</p>
                <ul class="m-2 ml-md-4">
                    <li>±2%</li>
                    <li>±5%</li>
                    <li>±10%</li>
                </ul>
            </div>            
        </div>  
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center" id="cross-reference"><h2>Cross-Reference Case Sizes and Series</h2></div>
            <div class="col-12 table-responsive mt-2 mt-md-3">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col" colspan="4">Cross-Reference Table</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Series</th>
                            <th scope="col">Drop in Replacement</th>
                            <th scope="col">MIL-R-11 Equivalent<br>
                                (Carbon Comp.)
                            </th>
                            <th scope="col">EIA RS-344 Equivalent</th>
                        </tr>                  
                        <tr>
                            <th scope="col">SPH/SPF</th>
                            <td>BPH/BWF</td>                    
                            <td>RC32/RC42</td>
                            <td>CRU2</td>
                        </tr>
                        <tr>
                            <th scope="col">SP20/SP20F</th>
                            <td>BW20/BW20F</td>
                            <td>RC20/RCR20</td>
                            <td>CRU1</td>
                        </tr>
                        <tr>
                            <th scope="col">BPH/BWF</th>
                            <td>BPH/BWF</td>
                            <td>RC32/RC42</td>
                            <td>CRU2</td>
                        </tr>   
                        <tr>
                            <th scope="col">BW20/BW20F</th>
                            <td>SP20/SP20F</td>
                            <td>RC20/RCR20</td>
                            <td>CRU1</td>
                        </tr>
                    </tbody>
                </table>      
            </div>
        </div>  
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Resources</h2></div>
            <div class="alert alert-primary mt-2 mt-md-3 text-center biggerBlueTxt w-75 mx-auto" role="alert">
                <p class="m-2 ml-md-4"><a href="https://www.tedss.com/Catalog/Browse?searchString=BWh&inCategory=WIREWOUND%20%3E%20FIXED" target="_blank">Click here to browse our <strong>BWH/SPH Series</strong> inventory.</a></p>
                <p class="m-2 ml-md-4"><a href="https://www.tedss.com/Catalog/Browse?searchString=BWF&inCategory=WIREWOUND%20%3E%20FIXED" target="_blank">Click here to browse our <strong>BWF Series</strong> inventory.</a></p>
                <p class="m-2 ml-md-4"><a href="https://www.tedss.com/Catalog/Browse?searchString=BW20&inCategory=WIREWOUND%20%3E%20FIXED" target="_blank">Click here to browse our <strong>BW20 Series</strong> inventory.</a></p>
                <p class="m-2 ml-md-4"><a href="https://www.tedss.com/Catalog/Browse?searchString=SP20&inCategory=WIREWOUND%20%3E%20FIXED" target="_blank">Click here to browse our <strong>SP20/SP20F Series</strong> inventory.</a></p>        
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Datasheets</th>
                                </tr>
                                <tr>
                                    <th>Manufacturer</th>
                                    <th>Series</th>
                                    <th>Datasheet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>TT Electronics</th>
                                    <th>SPH/SPF</th>
                                    <td><a target="spec" href="/tedss/content/specsheet/failsafeWirewoundResistors/SPH-Series-Wirewound-Resistors.pdf"><img src="/tedss/content/images/pdficon.png"/></a></td>
                                </tr>
                                <tr>
                                    <th>TT Electronics</th>
                                    <th>SP20/SP20F</th>
                                    <td><a target="spec" href="/tedss/content/specsheet/failsafeWirewoundResistors/SP-Series-Wirewound-Resistors.pdf"><img src="/tedss/content/images/pdficon.png"/></a></td>
                                </tr>
                                <tr>
                                    <th>TRW</th>
                                    <th>BWF/BW20F</th>
                                    <td><a target="spec" href="/tedss/content/specsheet/failsafeWirewoundResistors/BWF-Series-Wirewound-Resistors.pdf"><img src="/tedss/content/images/pdficon.png"/></a></td>
                                </tr>
                            </tbody>       
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2"></div>
    <!-- *FOOTER**************************************************************** -->
    <div class="row mx-0 mb-2 mb-lg-3 rounded" id="footer">
        <div class="col-12 col-lg px-0 px-lg-1">
            <div class="card">
                <div class="card-header">Quick Links</div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li >
                            <a href="/">Home</a><br/>
					    	<a href="/Info/AboutUs">About Us</a><br/>
					    	<a href="/ContactUs">Contact Us</a><br/>
					    	<a href="/LearnMore">Resources</a><br/>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
        <div class="col-12 col-lg px-0 px-lg-1">
            <div class="card">
                <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li>
						    <a href="/Info/PrivacyPolicy">Privacy Policy</a><br/>
					   	    <a href="/Info/TermsAndConditions">Terms &amp; Conditions</a><br/>
					   	    <a href="/Info/ReturnPolicy">Return Policy</a><br/>
					   	    <a href="/Info/FAQ">Frequently Asked Questions</a><br/>
					   	</li>
                    </ul>   
                </div>
            </div>
        </div>
        <div class="col-12 col-lg px-0 px-lg-1">
            <div class="card">
                <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li>
                            <a href="/customer/info">My Account</a><br/>
					        <a href="/customer/info">Register</a><br/>
                            <a href="/Newsletter">Newsletter Sign Up</a><br />                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg mt-2 mt-lg-0 px-0 px-lg-1 d-none d-md-block">
            <div class="card lg-4">
                <div class="card-header">Follow Us</div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li><a  href="http://facebook.com/tedssdotcom/" target="_blank">Facebook</a></li>
                        <li><a href="https://twitter.com/TedssDotCom" target="_blank">Twitter</a></li>
                        <li><a  href="http://linkedin.com/company/tedssdotcom/" target="_blank">LinkedIn</a></li>
                        <li><a  href="https://plus.google.com/+TedssElectronics/posts" target="_blank" rel="publisher">Google +</a></li>
                        <li><a  href="http://pinterest.com/tedssdotcom/" target="_blank">Pintrest</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 px-0 px-lg-1 mt-2 mt-lg-0 mx-0">                
            <div class="card">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <address>
                        <span class="biggerBlueTxt">Tedss.com</span>
                        <br>7290-A Investment Drive
                        <br>North Charleston, SC 29418
                        <br>Phone: (631) 234 - 3857
                        <br>Fax: (631) 234 - 7407
                        <br>&copy; Tedss.com 2005-2019
                    </address>
                </div>
            </div>                
        </div>
    </div>
    <!-- *FOOTER**************************************************************** -->
    </div> 
    <script src="/libraries/javascript/bootstrap-4.0.0/jQuery.3.3.1/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/bootstrap-4.0.0/popper.js.1.12.9/content/Scripts/umd/popper.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/bootstrap-4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script> 
    <script src="/libraries/javascript/fancybox/fancybox.js" type="text/javascript"></script>
</body>
</html>