<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How To Order A Toggle Switch</title>
    
    <meta name="description" content=""/>    
    <meta name="keywords" content=""/>    

    <!--css-->
    <link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/basket.css" rel="stylesheet">
    <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen"/>
    <!--scripts-->
    <script src="/scripts/stock/common.js" type="text/javascript"></script>    
    <script src="/scripts/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="/scripts/stock/scrollUp.js" type="text/javascript"></script>
</head>
<body id="top">
    <!--container***************************************-->
    <div class="container">        
        <div class="row" id="topPanel">
            <div class="col-lg-6" id="header2">
                <div class="media">
                    <div class="media-left d-none d-lg-block"  id="mLogo">
                        <a class="media-object" href="/"><img alt="Tedss.com logo." src="/css/images/tedssDotComLogo.png" /></a>
                    </div>
                    <div class="media-body  d-flex flex-column">
                        <div class="media-heading text-center"><h2 class="noWrap">Discount Electronic Components</h2></div>
                        <div class="order-first order-lg-2 text-center"><a href="/"><img class="img-fluid text-center" src="/css/images/tedssNamePic.png" width="415" height="38" alt="Tedss.com text."/></a></div>			
                    </div>
                </div>
            </div>  
            <div class="col-lg-6 " id="header3">
                <div class="text-center text-lg-right basket dSmallerTxt2">
                    <a href="#">My Account</a> | 
                    <a href="#">Sign In</a> | 
                    <a href="#">Shopping Cart</a>
                    <span> (0)</span>
                </div>                    
                <form class="form-inline justify-content-end" method="post" action="/Catalog/">
                    <div class="searchBox input-group input-group-sm">                        
                        <input class="form-control form-control-lg" name="SearchString"  type="text" placeholder="Search"   aria-label="Search"/>
                        <div class="input-group-append"><button class="btn form-control btn-primary" type="submit">Search</button></div>                        
                    </div>
                </form>
                <div class="text-center text-lg-right mt-1 mt-lg-0">Need assistance? Give us a call. (631) 234-3857</div>
            </div>
        </div>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded text-uppercase  py-0 py-lg-0" id="mainMenu">
            <span class="navbar-brand d-lg-none">Top menu</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Home</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Product Catalog</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Resources</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">About Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Contact Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">My Account</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item noWrap">
                        <!-- BEGIN ProvideSupport.com Text Chat Link Code -->
                        <div id="ciicT1" style="z-index:100;position:absolute"></div><div style="display:inline"><a href="#">LIVE CHAT</a></div></noscript>
                        <!-- END ProvideSupport.com Text Chat Link Code -->
                    </li>
                </ul>
            </div>
        </nav>  
        <div class="framedArea my-2">
            <div class="lightColorBar mx-2 mt-1 pl-3 text-center"><h1>How to Order a Full Size Toggle Switch</h1></div>
            <div class="breadCrumbs text-uppercase mx-3 mt-2"><a href="/">HOME</a> > <a href="/LearnMore">RESOURCES</a> > How to Order a Full Size Toggle Switch</div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Introduction</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6">
                <p class="m-2 ml-md-4">Here are five simple steps to follow to determine the specifications of your switch.</p>
                <div class="row text-center">
                    <div class="col-lg-2 offset-lg-1">
                        <a href="#circuit"><input type="button" value="Circuit" class="btn btn-lg  btn-dark mt-2 mb-4"></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#rating"><input type="button" value="Rating" class="btn btn-lg  btn-dark mt-2 mb-4"></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#action"><input type="button" value="Action" class="btn btn-lg  btn-dark mt-2 mb-4"></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#mounting"><input type="button" value="Mounting" class="btn btn-lg  btn-dark mt-2 mb-4"></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#terminals"><input type="button" value="Terminals" class="btn btn-lg btn-dark mt-2 mb-4"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center" id="circuit"><h2>Circuit</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <p class="m-2 ml-md-4">
                            If you need a toggle switch, the first thing you need to figure out is the circuit. 
                            A simple way to determine what you need is to take a look at the terminals (which are located on the bottom of the switch).
                        </p>
                        <div class="col-12 table-responsive mt-2 mt-md-3">
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Number of Terminals</th>
                                        <th scope="col" colspan="3">Circuit</th>
                                        <th scope="col">Circuit Diagram</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">2 Lugs</th>
                                    <td>Single Pole</td>
                                    <td>Single Throw</td>
                                    <td>SPST</td>
                                    <td><img src="https://www.tedss.com/Stock/learnMore/SPST.gif"></td>
                                </tr>
                                <tr>
                                    <th scope="row">3 lugs</th>
                                    <td>Single Pole</td>
                                    <td>Double Throw</td>
                                    <td>SPDT</td>
                                    <td><img src="https://www.tedss.com/Stock/learnMore/SPDT.gif"></td>      
                                </tr>
                                <tr>
                                    <th scope="row">4 Lugs</th>
                                    <td>Double Pole</td>
                                    <td>Single Throw</td>
                                    <td>DPST</td>
                                    <td><img src="https://www.tedss.com/Stock/learnMore/DPST.gif"></td>
                                </tr>
                                <tr>
                                    <th scope="row">6 Lugs</th>
                                    <td>Double Pole</td>
                                    <td>Double Throw</td>
                                    <td>DPDT</td>
                                    <td><img src="https://www.tedss.com/Stock/learnMore/DPDT.gif"></td>
                                </tr>
                                <tr>
                                    <th scope="row">9 Lugs</th>
                                    <td>Three Pole</td>
                                    <td>Double Throw</td>
                                    <td>3PDT</td>
                                    <td><img src="https://www.tedss.com/Stock/learnMore/3PDT.gif"></td>
                                </tr>    
                                <tr>
                                    <th scope="row">12 Lugs</th>
                                    <td>Four Pole</td>
                                    <td>Double Throw</td>
                                    <td>4PDT</td>
                                    <td><img src="https://www.tedss.com/Stock/learnMore/4PDT.gif"></td>
                                </tr>
                                </tbody>
                            </table>      
                        </div>       
                        <p class="m-2 ml-md-4">
                            <strong>Note:</strong> This chart works for 90 percent of the cases but there are exceptions. 
                            For example illuminated switches have an extra lug or two for the illuminated position in the switch. 
                            So in theory you can have a switch with six lugs which is a 3 pole single throw switch. 
                            The way to tell the difference between a DPDT switch and a 3PST switch is the width. A 3PST switch is wider.     
                        </p>
                    </div>
                        
                </div> 
            </div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center" id="rating"><h2>Rating</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6">
                <p class="m-2 ml-md-4">
                    The next thing to look at is the rating of the switch. Switches are rated by amperage in relation to voltage. 
                    Quite often switches have a rating of 220 volts or 110/115 volts.  
                    The amperage rating is normally reduced when operating at a higher voltage.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="m-2 ml-md-4">
                            Example:<br>
                            A switch with 110/115 volts would have an amperage rating of 6 amps. 
                            Meanwhile the same switch being used 220 volts would have an amperage rating of 3 amps.
                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="https://www.tedss.com/Stock/learnMore/switches/switch.jpg" alt="Pic of Toggle of Switch" class="img-fluid">
                        <p class="m-2 ml-md-4">10 amps at 250 volts, 20 amps at 123 volts</p>s
                    </div>
                </div>
            </div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center" id="action"><h2>Action</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6"> 
                <p class="m-2 ml-md-4">Action simply refers to the function of a switch in an electrical circuit. 
                    A toggle switch is a switch that is manually operated by moving an actuator (short handle or lever on a switch that moves back and forth) 
                    to remove current from a circuit or divert it to another terminal. 
                    A toggle switch can be a simple two-way switch (on/off) where different functions are selected based on the position. 
                    A three-way toggle switch has an additional position in the middle, which can be an on position, off position, or a none position. 
                    Three way switches can also have momentary positions on either one side or both. 
                    The same concept applies for three-way switches with fixed positions where one side could be fixed or both.
                </p>
                <p class="m-2 ml-md-4">
                    Note: Momentary switches are spring loaded and they always revert to the original position.
                </p> 
            </div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center" id="mounting"><h2>Mounting</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6"> 
                <p class="m-2 ml-md-4">Typically the most popular mounting method for switches is via a threaded bushing and a hex nut to lock it into place. 
                    However switches can come in two thread sizes, 15/32” bushing being more popular, and 11/32” bushing which is used for mounting on thinner panels. 
                    If a switch doesn’t have a bushing it’s a recessed switch, meaning that it sits flush with the panel. 
                    Recessed switches have holes on their body so they can be directly mounted to a panel.
                </p>       
            </div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center" id="terminals"><h2>Terminals</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6"> 
                <ol>
                    <li><strong>Wire Leads</strong></li>
                    <p class="m-2 ml-md-4">This terminal style has wire leads that come out of the switch.</p>
                    <li><strong>Solder Terminals</strong></li>
                    <p class="m-2 ml-md-4">In this style the terminals on the switch have holes and you put your wire through the hole and the solder it into place.</p>
                    <li><strong>Screw Terminals</strong></li>
                    <p class="m-2 ml-md-4">This terminal style has wires attached to it by wrapping the wires between the screw and the lug.</p>
                    <li><strong>Quick Connect Terminals</strong></li>
                    <p class="m-2 ml-md-4">This terminal style will allow connections via quick connect terminals, so you can connect or disconnect your switch in a matter of seconds. 
                    Qucik connect terminals are avialable in two diffrent sizes 1/4" being more popular and 3/16".
                    Quite often switches with quick connect lugs will have hole in them, giving you the option of soldering your wires directly to the switch.</p>
                </ol>                           
            </div>
            <div class="row text-center">
                <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/switches/wireTerminals.jpg" alt="Wire Leads" width="90%"><br>Wire Leads</div>
                <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/switches/solderTerminals.jpg" alt="Solder Terminals" width="90%"><br>Solder Terminals</div>
                <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/switches/screwTerminals.jpg" alt="Screw Terminals" width="90%"><br>Screw Terminals</div>
                <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/switches/quickConnectTerminals.jpg" alt="Quick Connect Terminals" width="90%"><br>Quick Connect Terminals</div>
            </div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center" id="actuators"><h2>Actuators</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6"> 
                <p class="m-2 ml-md-4">
                    An actuator on a switch is the rod or handle that changes the action of the switch in a circuit. 
                    For durability we recommend switches with metal actuators. 
                    Switches with plastic actuators are also available. They come in a variety of colors and round or flat profiles.
                </p>       
            </div>
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Why buy from Tedss.com</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6"> 
                <p class="m-2 ml-md-4">We at Tedss.com pride ourselves on our vast selection of American made and NAFTA toggle switches.<br>
                    We stock toggle switches from the following manufacturers:
                </p>
                <ul>
                    <li><a href="https://www.tedss.com/Switches/Browse/toggle-switch-full-size?MANUFACTURER=micro%20switch">Micro Switch</a></li>
                    <li><a href="https://www.tedss.com/Switches/Browse/toggle-switch-full-size?MANUFACTURER=eaton">Eaton Switch</a> <a href="https://www.tedss.com/Switches/Browse/toggle-switch-full-size?MANUFACTURER=cutler-hammer">(Formerly C&H Cutler and Hammer)</a></li>
                    <li><a href="https://www.tedss.com/Switches/Browse/toggle-switch-full-size?MANUFACTURER=a-h%26h">AH&H</a></li>
                    <li><a href="https://www.tedss.com/Switches/Browse/toggle-switch-full-size?MANUFACTURER=McGill">McGill</a></li>
                    <li><a href="https://www.tedss.com/Switches/Browse/toggle-switch-full-size?MANUFACTURER=Carling">Carling</a></li>
                </ul>
                <p class="m-2 ml-md-4">Doesn’t your audio equipment or aviation equipment deserve the best quality components? 
                    American made or NAFTA switches offer superior quality over switches from the Far East. 
                    Sure it may cost more up front but it will pay off in the long run. Tedss.com offers quality American made and NAFTA switches at exceptional prices.
                </p>       
            </div>
        </div>
        <div class="framedArea my-2">
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Resources</h2></div>
            <div class="alert alert-primary mt-2 mt-md-3 text-center biggerBlueTxt w-75 mx-auto" id="inventoryBoxLineHeight" role="alert">
                <a href="https://www.tedss.com/Switches/Browse/toggle-switch-full-size" target="_blank">Click here to browse our <strong>full size toggle </strong> switch inventory.</a>
            </div>
        </div>
    <div class="mb-2"></div>
    <!-- *FOOTER**************************************************************** -->
    <div class="row mx-0 mb-2 mb-lg-3 rounded" id="footer">
        <div class="col-12 col-lg px-0 px-lg-1">
            <div class="card">
                <div class="card-header">Quick Links</div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li >
                            <a href="/">Home</a><br/>
					    	<a href="/Info/AboutUs">About Us</a><br/>
					    	<a href="/ContactUs">Contact Us</a><br/>
					    	<a href="/LearnMore">Resources</a><br/>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
        <div class="col-12 col-lg px-0 px-lg-1">
            <div class="card">
                <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li>
						    <a href="/Info/PrivacyPolicy">Privacy Policy</a><br/>
					   	    <a href="/Info/TermsAndConditions">Terms &amp; Conditions</a><br/>
					   	    <a href="/Info/ReturnPolicy">Return Policy</a><br/>
					   	    <a href="/Info/FAQ">Frequently Asked Questions</a><br/>
					   	</li>
                    </ul>   
                </div>
            </div>
        </div>
        <div class="col-12 col-lg px-0 px-lg-1">
            <div class="card">
                <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li>
                            <a href="/customer/info">My Account</a><br/>
					        <a href="/customer/info">Register</a><br/>
                            <a href="/Newsletter">Newsletter Sign Up</a><br />                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg mt-2 mt-lg-0 px-0 px-lg-1 d-none d-md-block">
            <div class="card lg-4">
                <div class="card-header">Follow Us</div>
                <div class="card-body">
                    <ul class="pl-0 pl-md-2">
                        <li><a  href="http://facebook.com/tedssdotcom/" target="_blank">Facebook</a></li>
                        <li><a href="https://twitter.com/TedssDotCom" target="_blank">Twitter</a></li>
                        <li><a  href="http://linkedin.com/company/tedssdotcom/" target="_blank">LinkedIn</a></li>
                        <li><a  href="https://plus.google.com/+TedssElectronics/posts" target="_blank" rel="publisher">Google +</a></li>
                        <li><a  href="http://pinterest.com/tedssdotcom/" target="_blank">Pintrest</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 px-0 px-lg-1 mt-2 mt-lg-0 mx-0">                
            <div class="card">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <address>
                        <span class="biggerBlueTxt">Tedss.com</span>
                        <br>7290-A Investment Drive
                        <br>North Charleston, SC 29418
                        <br>Phone: (631) 234 - 3857
                        <br>Fax: (631) 234 - 7407
                        <br>&copy; Tedss.com 2005-2019
                    </address>
                </div>
            </div>                
        </div>
    </div>
    <!-- *FOOTER**************************************************************** -->
    </div> 
    <script src="/scripts/bootstrap-4.0.0/jQuery.3.3.1/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-4.0.0/popper.js.1.12.9/content/Scripts/umd/popper.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <!--from bootstrap info -->
    <!--fancybox js-->
    <script src="/scripts/fancybox/jquery.fancybox.pack.js"></script> 
    <script src="/scripts/fancybox/fancybox.js" ></script>
</body>
</html>