<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mosfet</title>
    
    <meta name="description" content="Learn more about mosfet transistors"/>        
    <meta name="keywords" content="MOSFET, MOSFET Transistor, FET Transistor, Transistor, IRF1010ES, IRF1010EL, IRF610S, IRF610SPbF, IRF610L, IRF610LPbF, IRFI510G, D2PAK, TO-263, FULLPAK, TO-220, I2PAK, TO-262"/>    
    
    <!--css-->
    <link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/basket.css" rel="stylesheet">
    <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen"/>
    <!--scripts-->
    <script src="/scripts/stock/common.js" type="text/javascript"></script>    
    <script src="/scripts/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="/scripts/stock/scrollUp.js" type="text/javascript"></script>
</head>
<body id="top">
    <!--container***************************************-->
    <div class="container">        
        <div class="row" id="topPanel">
            <div class="col-lg-6" id="header2">
                <div class="media">
                    <div class="media-left d-none d-lg-block"  id="mLogo">
                        <a class="media-object" href="#"><img alt="Tedss.com logo." src="/css/images/tedssDotComLogo.png" /></a>
                    </div>
                    <div class="media-body  d-flex flex-column">
                        <div class="media-heading text-center"><h2 class="noWrap">Discount Electronic Components</h2></div>
                        <div class="order-first order-lg-2 text-center"><a href="#"><img class="img-fluid text-center" src="/css/images/tedssNamePic.png" width="415" height="38" alt="Tedss.com text."/></a></div>			
                    </div>
                </div>
            </div>  
            <div class="col-lg-6 " id="header3">
                <div class="text-center text-lg-right basket dSmallerTxt2">
                    <a href="#">My Account</a> | 
                    <a href="#">Sign In</a> | 
                    <a href="#">Shopping Cart</a>
                    <span> (0)</span>
                </div>                    
                <form class="form-inline justify-content-end" method="post" action="/Catalog/">
                    <div class="searchBox input-group input-group-sm">                        
                        <input class="form-control form-control-lg" name="SearchString"  type="text" placeholder="Search"   aria-label="Search"/>
                        <div class="input-group-append"><button class="btn form-control btn-primary" type="submit">Search</button></div>                        
                    </div>
                </form>
                <div class="text-center text-lg-right mt-1 mt-lg-0">Need assistance? Give us a call. (631) 234-3857</div>
            </div>
        </div>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded text-uppercase  py-0 py-lg-0" id="mainMenu">
            <span class="navbar-brand d-lg-none">Top menu</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="">Home</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Product Catalog</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Resources</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">About Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Contact Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">My Account</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item noWrap">
                        <!-- BEGIN ProvideSupport.com Text Chat Link Code -->
                        <div id="ciicT1" style="z-index:100;position:absolute"></div><div id="scicT1" style="display:inline"></div><div id="sdicT1" style="display:none"></div><script>var seicT1 = document.createElement("script");  var seicT1s = (location.protocol.indexOf("https") == 0 ? "https" : "http") + "://image.providesupport.com/js/0oqioiomobg6n0kt4pox7104jw/safe-textlink.js?ps_h=icT1&ps_t=" + new Date().getTime() + "&online-link-html=Live%20Chat&offline-link-html=Live%20Chat"; setTimeout("seicT1.src=seicT1s;document.getElementById('sdicT1').appendChild(seicT1)", 1)</script><noscript><div style="display:inline"><a href="http://www.providesupport.com?messenger=0oqioiomobg6n0kt4pox7104jw">LIVE CHAT</a></div></noscript>
                        <!-- END ProvideSupport.com Text Chat Link Code -->
                    </li>
                </ul>
            </div>
        </nav>        
        <div class="framedArea my-2">
            <div class="lightColorBar mx-2 mt-1 pl-3 text-center text-center"><h1>Mosfet</h1></div>
            <div class="breadCrumbs text-uppercase mx-3 mt-2"><a href="/">HOME</a> > <a href="/LearnMore">RESOURCES</a> > Mosfet</div>
        </div>
        <div class="framedArea my-2">              
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>What is a Mosfet Transistor?</h2></div>
            <div class="row text-center pt-2 pb-2">
                <div class="col-lg-2">
                    <h3><strong>M</strong>etal</h3>
                </div>
                <div class="col-lg-2">
                    <h3><strong>O</strong>xide</h3>
                </div>
                <div class="col-lg-2">
                    <h3><strong>S</strong>emiconductor</h3>
                </div>
                <div class="col-lg-2">
                    <h3><strong>F</strong>eild</h3>
                </div>
                <div class="col-lg-2">
                    <h3><strong>E</strong>ffect</h3>
                </div>
                <div class="col-lg-2">
                    <h3><strong>T</strong>ransistor</h3>
                </div>
            </div>
            <p class="m-2 ml-md-4">
                A MOSFET transistor is essentially a <strong>FET</strong> (Field Effect Transistor) transistor with an insulated gate. 
                Meaning that it has source, gate, and drain terminals like a FET transistor, but the gate on a MOSFET transistor is insulated from the channel by a thin layer of <strong>Metal Oxide</strong> 
                (MOSFET's sometimes may have a fourth terminal called the body but it's most commonly connected to the source terminal). 
                The main function of a MOSFET transistor is switching or amplifying signals.  
                The conductivity of this device is entirely controlled by the input voltage, so a change in the voltage is used to trigger the transistor to switch signals or amplify a signal. 
                A MOSFET transistor is the most commonly used transistor in digital and analog circuits alike.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="mx-auto">
                                <p class="m-2 ml-md-4">A MOSFET transistor can function in two of the following ways: </p>
                                <p class="m-2 ml-md-4">
                                    <strong>Depletion Mode –</strong> If the gate doesn’t have any voltage going to it, then the channel is at max conductance. 
                                    If you put a voltage on the gate, then the channel’s conductivity will decrease with the amount of voltage applied. 
                                    The depletion mode in a MOSFET transistor is equivalent to a “Normally Closed” switch.
                                </p>
                                <p class="m-2 ml-md-4">
                                    <strong>Enhancement Mode –</strong> This mode is the exact opposite of the depletion mode. 
                                    If the gate doesn’t have any voltage going to it then the channel is not conductive. 
                                    The more voltage going to the gate the higher the conductivity of the channel. 
                                    The enhancement mode in a MOSFET transistor is equivalent to a “Normally Open” switch.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="mx-auto">
                                <a href="https://www.tedss.com/stock/learnmore/mosfet/MosfetDiagram.jpg" alt="mosfet diagram fancybox" class="fancybox">
                                    <img src="https://www.tedss.com/stock/learnmore/mosfet/MosfetDiagram.jpg" alt="Mosfet Diagram" class="img-fluid"> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-center">N-Channel vs. P-Channel</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center m-4">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="mx-auto">
                                    <a href="https://www.tedss.com/stock/learnmore/mosfet/P-NChannelDiagram.jpg" alt="N-Type P-Type Diagram" class="fancybox">
                                        <img src="https://www.tedss.com/stock/learnmore/mosfet/P-NChannelDiagram.jpg" alt="N-Type P-Type Diagram" class="img-fluid"> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="mx-auto">
                                <p class="m-2 ml-md-4">
                                    An N-Channel MOSFET has the source connected to the ground, and the drain to the load. 
                                    When you apply a positive voltage to the gate the FET will turn on. 
                                    In general N-Channel MOSFETS are cheaper compared to P-Channel equivalents because they are easier to manufacturer.
                                    A P-Channel MOSFET has a positive voltage connected to the source and the FET only turns on when the voltage dips down by the desired amount.
                                </p>
                                <p class="m-2 ml-md-4">
                                    <strong>Note:</strong> To use a P-Channel MOSFET to switch voltages higher than 5 volts, 
                                    you’re going to need to add a transistor into the circuit to turn the MOSFET on and off.   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="framedArea my-2">              
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Specifications</h2></div>
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Part Number</th>
                                    <th>Drain-Source Voltage<br>(Vdss)</th>
                                    <th>Continuous Drain Current<br>(Id)</th>
                                    <th>Body Type</th>
                                    <th>RohS Compliance</th>
                                    <th>Channel</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>IRF1010ES</th>
                                    <td>60V</td>
                                    <td>84A</td>
                                    <td>D2PAK(TO-220)</td>
                                    <td>No</td>
                                    <td>N-Channel</td>
                                </tr>
                                <tr>
                                    <th>IRF1010EL</th>
                                    <td>60V</td>
                                    <td>84A</td>
                                    <td>I2PAK(TO-262)</td>
                                    <td>No</td>
                                    <td>N-Channel</td>
                                </tr>
                                <tr>
                                    <th>IRF610S</th>
                                    <td>200V</td>
                                    <td>3.3A</td>
                                    <td>D2PAK(TO-263)</td>
                                    <td>No</td>
                                    <td>N-Channel</td>
                                </tr>
                                <tr>
                                    <th>IRF610SPbF</th>
                                    <td>200V</td>
                                    <td>3.3A</td>
                                    <td>D2PAK(TO-263)</td>
                                    <td>Yes</td>
                                    <td>N-Channel</td>
                                </tr>
                                <tr>
                                    <th>IRF610L</th>
                                    <td>200V</td>
                                    <td>3.3A</td>
                                    <td>I2PAK(TO-262)</td>
                                    <td>No</td>
                                    <td>N-Channel</td>
                                </tr>
                                <tr>
                                    <th>IRF610LPbF</th>
                                    <td>200V</td>
                                    <td>3.3A</td>
                                    <td>I2PAK(TO-262)</td>
                                    <td>Yes</td>
                                    <td>N-Channel</td>
                                </tr>
                                <tr>
                                    <th>IRFI510G</th>
                                    <td>100V</td>
                                    <td>4.5A</td>
                                    <td>FULLPAK(TO-220)</td>
                                    <td>No</td>
                                    <td>N-Channel</td>
                                </tr>
                            </tbody>       
                        </table>
                    </div> 
                </div>
            </div>
            <h3 class="text-center pt-4">Mosfet Body Types</h3>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://www.tedss.com/stock/learnmore/mosfet/D2PAK(TO-263).jpg" alt="Picture of D2PAK(TO-263)" class="fancybox">
                        <img src="https://www.tedss.com/stock/learnmore/mosfet/D2PAK(TO-263).jpg" alt="Picture of D2PAK(TO-263)" class="img-fluid">
                    </a>
                    <h3>D2PAK(TO-263)</h3>
                    <p class="m-2 ml-md-4">
                        The TO-263 package type was designed for surface mounting onto printed circuit boards.
                        With the leads bent back this package type can be mounted to sit flush with its mounting surface.
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="https://www.tedss.com/stock/learnmore/mosfet/FULLPAK(TO-220).jpg" alt="Picture of FULLPAK(TO-220)" class="fancybox">
                        <img src="https://www.tedss.com/stock/learnmore/mosfet/FULLPAK(TO-220).jpg" alt="Picture of FULLPAK(TO-220)" class="img-fluid">
                    </a>
                    <h3>FULLPAK(TO-220)</h3>
                    <p class="m-2 ml-md-4">
                        The TO-220 package was designed for through the hole applications. 
                        The extended tab design gives this package type the ability to be mounted to an external 
                        <a href="javascript:void(0)"  data-container="body" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-content="<img src='/mosfet/FULLPAK(TO-220)Heatsink.jpg' class='img-fluid'>">heat sink</a> 
                        making it suitable for high powered applications.
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="https://www.tedss.com/stock/learnmore/mosfet/I2PAK(TO-262).jpg" alt="Picture of I2PAK(TO-262)" class="fancybox">
                        <img src="https://www.tedss.com/stock/learnmore/mosfet/I2PAK(TO-262).jpg" alt="Picture of I2PAK(TO-262)" class="img-fluid">
                    </a>
                    <h3>I2PAK(TO-262)</h3>
                    <p class="m-2 ml-md-4">
                        The TO-262 package was designed for through the hole applications. The only difference between TO-262 and the TO-220 package type is the heat sink mount.
                    </p>
                </div>
            </div>
        </div>
        <div class="framedArea my-2">              
            <div class="text-center"><h2>Resources</h2></div>
            <div class="alert alert-primary mt-2 mt-md-3 text-center biggerBlueTxt w-75 mx-auto" role="alert">
                <a href="https://www.tedss.com/Semiconductors/Browse/mosfet" target="_blank">Click here to browse our <strong>MOSFET</strong> transistor inventory.</a><br>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Bourns Trim Pots Datasheets</th>
                                </tr>
                                <tr>
                                    <th>Series</th>
                                    <th>Manufacturer</th>
                                    <th>Datasheet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>IRF610S / IRF610L</th>
                                    <th>Vishay</th>
                                    <td><a target="spec" href="https://www.tedss.com/DataSheets/2028/IRF610.pdf"><img src="https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png" width="60" height="70"/></a></td>
                                </tr>
                                <tr>
                                    <th>IRF1010ESPbF / IRF1010ELPbF</th>
                                    <th>International Rectifier</th>
                                    <td><a target="spec" href="https://www.tedss.com/DataSheets/2028/IRF1010E.pdf"><img src="https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png" width="60" height="70"/></a></td>
                                </tr>
                                <tr>
                                    <th>IRFI510G</th>
                                    <th>Vishay</th>
                                    <td><a target="spec" href="https://www.tedss.com/DataSheets/2028/IRFI510G.pdf"><img src="https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png" width="60" height="70"/></a></td>
                                </tr>
                            </tbody>       
                        </table>
                    </div> 
                </div>
            </div>
        </div>       
        <div class="mb-2">
            <!-- *FOOTER****************************************************************-->
            <div class="row mx-0 mb-2 mb-lg-3 rounded" id="footer">
                <div class="col-12 col-lg px-0 px-lg-1">
                    <div class="card">
                        <div class="card-header">Quick Links</div>
                        <div class="card-body">
                            <ul class="pl-0 pl-md-2">
                                <li >
                                    <a href="/">Home</a><br/>
                                    <a href="/Info/AboutUs">About Us</a><br/>
                                    <a href="/ContactUs">Contact Us</a><br/>
                                    <a href="/LearnMore">Resources</a><br/>
                                </li>
                            </ul>   
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg px-0 px-lg-1">
                    <div class="card">
                        <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                        <div class="card-body">
                            <ul class="pl-0 pl-md-2">
                                <li>
                                    <a href="/Info/PrivacyPolicy">Privacy Policy</a><br/>
                                    <a href="/Info/TermsAndConditions">Terms &amp; Conditions</a><br/>
                                    <a href="/Info/ReturnPolicy">Return Policy</a><br/>
                                    <a href="/Info/FAQ">Frequently Asked Questions</a><br/>
                                </li>
                            </ul>   
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg px-0 px-lg-1">
                    <div class="card">
                        <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                        <div class="card-body">
                            <ul class="pl-0 pl-md-2">
                                <li>
                                    <a href="/customer/info">My Account</a><br/>
                                    <a href="/customer/info">Register</a><br/>
                                    <a href="/Newsletter">Newsletter Sign Up</a><br />                            
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg mt-2 mt-lg-0 px-0 px-lg-1 d-none d-md-block">
                    <div class="card lg-4">
                        <div class="card-header">Follow Us</div>
                        <div class="card-body">
                            <ul class="pl-0 pl-md-2">
                                <li><a  href="http://facebook.com/tedssdotcom/" target="_blank">Facebook</a></li>
                                <li><a href="https://twitter.com/TedssDotCom" target="_blank">Twitter</a></li>
                                <li><a  href="http://linkedin.com/company/tedssdotcom/" target="_blank">LinkedIn</a></li>
                                <li><a  href="https://plus.google.com/+TedssElectronics/posts" target="_blank" rel="publisher">Google +</a></li>
                                <li><a  href="http://pinterest.com/tedssdotcom/" target="_blank">Pintrest</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 px-0 px-lg-1 mt-2 mt-lg-0 mx-0">                
                    <div class="card">
                        <div class="card-header">Contact Information</div>
                        <div class="card-body">
                            <address>
                                <span class="biggerBlueTxt">Tedss.com</span>
                                <br>7290-A Investment Drive
                                <br>North Charleston, SC 29418
                                <br>Phone: (631) 234 - 3857
                                <br>Fax: (631) 234 - 7407
                                <br>&copy; Tedss.com 2005-2018
                            </address>
                        </div>
                    </div>                
                </div>
            </div>
            <!-- *FOOTER**************************************************************** -->
        </div>
    <!--container***************************************-->
    </div>
    <!-- from bootstrap info -->    
    <script src="/scripts/bootstrap-4.0.0/jQuery.3.3.1/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-4.0.0/popper.js.1.12.9/content/Scripts/umd/popper.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <!--from bootstrap info -->
    <!--fancybox js-->
    <script src="/scripts/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script> 
    <script src="/scripts/fancybox/fancybox.js" type="text/javascript"></script>
    <script src="/scripts/utils/utils.js" type="text/javascript"></script>
</body>
</html>