<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orange Drop Capacitors</title>
    
    <meta name="description" content="Learn more about Orange Drop Capacitors."/>    
    <meta name="keywords" content=""/>    

    <link href="/tedss/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/libraries/css/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/tedss/content/css/site.css" rel="stylesheet">
    <link href="/libraries/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="/libraries/javascript/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body id="top">
    <!--container***************************************-->
    <div class="container">        
        <div class="row" id="topPanel">
            <div class="col-lg-6" id="header2">
                <div class="media">
                    <div class="media-left d-none d-lg-block"  id="mLogo">
                        <a class="media-object" href="/"><img alt="Tedss.com logo." src="/tedss/content/images/tedssDotComLogo.png" /></a>
                    </div>
                    <div class="media-body  d-flex flex-column">
                        <div class="media-heading text-center"><h2 class="noWrap">Discount Electronic Components</h2></div>
                        <div class="order-first order-lg-2 text-center"><a href="/"><img class="img-fluid text-center" src="/tedss/content/images/tedssNamePic.png" width="415" height="38" alt="Tedss.com text."/></a></div>			
                    </div>
                </div>
            </div>  
            <div class="col-lg-6 " id="header3">
                <div class="text-center text-lg-right basket dSmallerTxt2">
                    <a href="#">My Account</a> | 
                    <a href="#">Sign In</a> | 
                    <a href="#">Shopping Cart</a>
                    <span> (0)</span>
                </div>                    
                <form class="form-inline justify-content-end" method="post" action="/Catalog/">
                    <div class="searchBox input-group input-group-sm">                        
                        <input class="form-control form-control-lg" name="SearchString"  type="text" placeholder="Search"   aria-label="Search"/>
                        <div class="input-group-append"><button class="btn form-control btn-primary" type="submit">Search</button></div>                        
                    </div>
                </form>
                <div class="text-center text-lg-right mt-1 mt-lg-0">Need assistance? Give us a call. (631) 234-3857</div>
            </div>
        </div>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded text-uppercase  py-0 py-lg-0" id="mainMenu">
            <span class="navbar-brand d-lg-none">Top menu</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Home</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Product Catalog</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Resources</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">About Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Contact Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">My Account</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item noWrap">
                        <!-- BEGIN ProvideSupport.com Text Chat Link Code -->
                        <div id="ciicT1" style="z-index:100;position:absolute"></div><div style="display:inline"><a href="#">LIVE CHAT</a></div>
                        <!-- END ProvideSupport.com Text Chat Link Code -->
                    </li>
                </ul>
            </div>
        </nav>
        <div id="popup" class="popup container-popup hidden">
            <div class="popup-content">
                <div class="popup-header">
                    <h2>Incorrect Input</h2>
                </div>
                <div class="popup-body text-center">
                    <p id="popupText"></p>
                    <p>Please Try Again.</p>
                </div>
            </div>
        </div>        
        <div class="framedArea my-2">
            <div class="lightColorBar mx-2 mt-1 pl-3 text-center"><h1>Orange Drop Capacitors</h1></div>
            <div class="breadCrumbs text-uppercase mx-3 mt-2"><a href="/">HOME</a> &gt; <a href="/LearnMore">RESOURCES</a> &gt; Orange Drop Capacitors</div>
        </div>       
        <div class="framedArea my-2">              
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>History</h2></div>
            <div class="row">
                <div class="col-lg-8">
                    <p class="m-4 ml-md-4">
                        The orange drop capacitor was invented in the 1960’s by a company named Sprague Electric. 
                        The founder of the company was Robert C. Sprague a 19th century engineer and businessman. 
                        Coincidently he was responsible for the invention of the tone circuit that is used in radios and amplifiers, 
                        which happens to be one of the main uses for orange drop capacitors. 
                        Orange drop capacitors manufactured by Sprague Electric have been around for over fifty years and 
                        the audio community continues to use them because of their reliability. 
                        (Sprague Electric was bought out by Vishay and now they operate as a subsidiary of Vishay).
                    </p> 
                </div>
                <div class="col-lg-4 text-center my-5 my-md-4 ">
                    <img src="/tedss/content/images/orangeDropCaps/Robert_C._Sprague_(Spargue_Electric_Founder).jpg" alt="Robert Sprague" class="img-fluid img-thumbnail" width="50%">
                </div>
            </div>    
        </div>
        <div class="framedArea my-2">              
            <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Specifcation</h2></div>
            <div class="row">  
                <div class="col-md-6">
                    <p class="m-4 ml-md-4">
                        Orange drop capacitors are made from aluminum foil and a polypropylene, polyester, polystyrene, and a polypropylene/polyester blend dielectric coated in a bright orange epoxy. 
                        Orange drop capacitors come in two different shapes a rounded shape and a flatted shape (as shown in the pictures) with radial leads only. They have a voltage range from 50VDC to as high as 2000VDC. 
                        The operating temperature range varies from -55° Celsius to +125° Celsius to -40° Celsius to +85° Celsius (For more specific temperature ranges please check the datasheet). 
                        Capacitance ranges from 0.001MFD to over 1.0MFD. Orange drop capacitors come in various tolerances from 20%, 10%, 5%, but the tolerance can be as tight as 1%.
                    </p> 
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <img src="/tedss/content/images/orangeDropCaps/1173003461.jpg" alt="Picture of Round Orange Drop Capacitor." class="img-fluid"/>
                            <p>Round</p>            
                        </div>
                        <div class="col-lg-6 text-center">
                            <img src="/tedss/content/images/orangeDropCaps/1173000384.jpg" alt="Picture of Flat Orange Drop Capacitor." class="img-fluid"/>
                            <p>Flat</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tex">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="m-4"><strong>Polyester Dielectric</strong></p>
                            <ul class="m-4 ml-md-4">
                                <li><a href="https://www.tedss.com/Catalog/Browse?searchString=225P&inCategory=FILM%20%3E%20POLYESTER%20%3E%20RADIAL" target="_blank">225P series</a> </li>
                                <li><a href="https://www.tedss.com/Catalog/Browse?searchString=418P&inCategory=FILM%20%3E%20POLYESTER%20%3E%20RADIAL" target="_blank">418P series</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <p class="m-4"><strong>Polyester/Polypropylene<br>Dielectric</strong></p>
                            <ul class="m-4 ml-md-4">
                                <li><a href="https://www.tedss.com/Catalog/Browse?pageNumber=5&searchString=PS&inCategory=FILM%20%3E%20POLYESTER%20%3E%20RADIAL" target="_blank">PS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="m-4"><strong>Polypropylene Dielectric</strong></p>
                            <ul class="m-4 ml-md-4">
                                <li><a href="https://www.tedss.com/Catalog/Browse?searchString=715P&inCategory=FILM%20%3E%20POLYPROPYLENE%20%3E%20RADIAL" target="_blank">715P series</a></li> 
                                <li><a href="https://www.tedss.com/Catalog/Browse?searchString=716P&inCategory=-" target="_blank">716P series</a></li>         
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <p class="m-4"><strong>Polystyrene Dielectric</strong></p>
                            <ul class="m-4 ml-md-4">
                                <li><a href="https://www.tedss.com/Catalog/Browse?searchString=287P&inCategory=FILM%20%3E%20POLYSTYRENE%20%3E%20RADIAL" target="_blank">287P series</a></li>          
                            </ul>
                        </div>     
                    </div>
                </div>         
            </div>
            <p class="m-4 ml-md-4">
                Orange drop capacitors are non-inductive, meaning that they’re excellent for use in coupling, decoupling, arc suppression, high frequency, and lighting. 
                These capacitors have superior heat dissipation, which makes perfect for use in <strong>Pro-Audio</strong> equipment because it can get really hot.
            </p>   
            <div class="row justify-content-center">
                <div class=" col-10 table-responsive px-2">
                    <table class="table table-striped text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Series</th>
                                <th scope="col">Status</th>
                                <th scope="col">Profile</th>
                                <th scope="col">Dielectric</th>
                                <th scope="col">Capacitance Range (uF)</th>
                                <th scope="col">Voltage Range (Vdc)</th>
                                <th scope="col">Features / Applications</th>
                            </tr>                
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">225P</th>
                                <td>current</td>
                                <td>pressed</td>
                                <td>polyester</td>
                                <td>.001 to 1</td>
                                <td>100 to 600</td>
                                <td>coupling-decoupling / bypass applications</td>
                            </tr>
                            <tr>
                                <th scope="row">287P</th>
                                <td>discontinued</td>
                                <td>round</td>
                                <td>polystyrene</td>
                                <td>.0001 to .1</td>
                                <td>50 to 100</td>
                                <td>linear TCC / tight capacity tolerance</td>
                            </tr>
                            <tr>
                                <th scope="row">418P</th>
                                <td>current</td>
                                <td>round</td>
                                <td>polyester</td>
                                <td>.001 to 1</td>
                                <td>100 to 1000</td>
                                <td>energy storage and discharge</td>
                            </tr>
                            <tr>
                                <th scope="row">715P</th>
                                <td>current</td>
                                <td>round</td>
                                <td>polypropylene</td>
                                <td>.001 to 1</td>
                                <td>100 to 2000</td>
                                <td>high current capability / excellent stability virtually linear temperature coefficient</td>
                            </tr>
                            <tr>
                                <th scope="row">716P</th>
                                <td>current</td>
                                <td>pressed</td>
                                <td>polypropylene</td>
                                <td>.0022 to 1</td>
                                <td>100 to 2000</td>
                                <td>superb high frequency response / ideal for high pulse currents</td>
                            </tr>    
                            <tr>
                                <th scope="row">PS</th>
                                <td>discontinued</td>
                                <td>round</td>
                                <td>polyester / polypropylene</td>
                                <td>.001 to .47</td>
                                <td>200 to 2000</td>
                                <td>moisture resistant / used in communication equipment</td>
                            </tr>
                        </tbody>       
                    </table>
                </div> 
            </div>
            </div>                     
        <div class="framedArea my-2">              
        <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Dielectrics</h2></div>
            <div class="row ">
                <div class="col-lg-8">
                    <p class="m-4 ml-md-4">
                        Capacitors with film dielectrics tend to have a long shelf life, high stability, low self-inductance, and the ability to absorb power surges. 
                        The type of dielectric used in a capacitor also greatly affects the properties that the capacitor will possess, 
                        for example theses properties greatly affect the performance of the capacitor, which include volume resistivity, maximum application temperature, 
                        dissipation factor, dielectric constant, dielectric absorption, and dielectric strength. 
                        Each of these factors differs in different dielectrics, making the capacitors suitable for different applications. 
                        The two most generally used dielectrics in orange drop capacitors are polyester and polypropylene, 
                        but they are also available in a polyester dielectric and a polypropylene/polyester blend dielectric.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="table-responsive px-4">
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Dielectric</th>
                                    <th><strong>K</strong><br>Dielectric Constants</th>                                                               
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Polystyrene</td>
                                    <td>2.56</td>
                                </tr>
                                <tr>
                                    <td>Polypropylene</td>
                                    <td>2.2</td>
                                </tr>
                                <tr>
                                    <td>Polyester</td>
                                    <td>3.3</td>
                                </tr>
                            </tbody>       
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="m-4"><strong>Polystyrene Dielectric</strong></p>
                    <ul class="m-4 ml-md-4">
                        <li>high capacitance stability</li>
                        <li>low dissipation and leakage</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="m-4"><strong>Polyester Dielectric</strong></p>
                    <ul class="m-4 ml-md-4">
                        <li>high dielectric constant</li>
                        <li>high dissipation factor</li>
                        <li>self-healing properties</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="m-4"><strong>Polypropylene Dielectric</strong></p>
                    <ul class="m-4 ml-md-4">
                        <li>high insulation resistance</li> 
                        <li>low dielectric absorption</li>
                        <li>high breakdown strength</li>
                        <li>low dissipation factor</li>         
                    </ul>
                </div>             
            </div>     
        </div>
        <div class="framedArea my-2 pt-4 pb-4 mb-2">
            <form id="orangeDropApp" class="mx-2 mx-md-3">
                <h2 class="text-center pb-2">Part Number Breakdown for Orange Drop Capacitors</h2>
                <div class="row">
                    <div class="col-md-3">
                        <label for="inputType">type</label>
                        <select class="form-control" id="inputType" onchange="validate();loadToleranceDropDown();loadVoltageDropDown();">
                            <option value="">Please Select Type</option>
                            <option value="418P">418P</option>
                            <option value="715P">715P</option>
                            <option value="716P">716P</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputVoltage">voltage</label>
                        <select class="form-control" id="inputVoltage" onchange="validate();"><option value="">Please Select Voltage</option></select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputCapacitance">
                            capacitance
                        </label> 
                        <input id="inputCapacitance" type="number" class="form-control"  placeholder="103" onchange="validate();" data-container="body" data-toggle="popover"  data-trigger="hover" data-placement="top" data-content="Enter a Three Digit Number!"/>
                    </div>
                    <div class="col-md-3">
                        <label for="inputTolerance">tolerance</label>
                        <select class="form-control" id="inputTolerance" onchange="validate();"><option value="">Please Select Tolerance</option></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="inputCaseCode">case code</label>
                        <select class="form-control" id="inputCaseCode" onchange="validate();">
                            <option value="">Please Select Case Code</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputTerminal">terminal</label>
                        <select class="form-control" id="inputTerminal" onchange="validate();">
                            <option value="">Please Select Terminal</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputLeadLength">lead length</label>
                        <select class="form-control" id="inputLeadLength" onchange="validate();">
                            <option value="">Please Select Lead Length</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div id="resources" class="hidden"> 
                    <h2>part number explanation</h2><hr>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="outputCapacitance">capacitance</label>
                            <input class="form-control"type="text" id="outputCapacitance" disabled/>
                        </div>
                        <div class="col-md-4">
                            <label for="outputTolerance">tolerance</label>
                            <input class="form-control" type="text" id="outputTolerance" disabled/>
                        </div>
                        <div class="col-md-4">
                            <label for="outputTolerance">voltage</label>
                            <input class="form-control" type="text" id="outputVoltage" disabled/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="outputVoltage">lead length in[mm]</label>
                            <input class="form-control"type="text" id="outputLeadLength" disabled/> 
                        </div>
                        <div class="col-md-6">
                            <label for="outputPartNumber">part number</label>
                            <input class="form-control"type="text" id="outputPartNumber" disabled/>
                        </div>
                    </div>
                    <div class="row text-center pt-5">
                        <div class="col-md-6">
                            <input id="resetApp" type="reset" value="Reset Values" class="btn btn-lg btn-dark mt-2 mb-4">
                        </div>
                        <div class="col-md-6">
                            <a id="terminal" href="#" class="fancybox"><input type="button" value="View Terminal" class="btn btn-lg btn-dark mt-2 mb-4"></a>
                        </div>
                    </div>
                </div>  
            </form>
        </div>  
        <div class="framedArea my-2">
            <div class="text-center"><h2>Resources</h2></div>
            <div class="mx-4 mt-4 mx-md-6 mt-md-6">
                <p class="m-4 ml-md-4"><strong>Orange Drop Capacitors</strong> can be found in Electric Guitars, Guitar Amplifiers, Ham Radios, Vintage Radios, and Communication Equipment.</p>            
            </div>
            <div class="alert alert-primary mt-2 mt-md-3 text-center biggerBlueTxt w-75 mx-auto" id="inventoryBoxLineHeight" role="alert">
                <a href="https://www.tedss.com/Catalog/Browse?searchString=orange%20drop&inCategory=FILM%20%3E%20POLYESTER%20%3E%20RADIAL" target="_blank">Click here to browse our <strong>Polyester Orange Drop</strong> Capacitor inventory.</a><br>
                <a href="https://www.tedss.com/Catalog/Browse?searchString=orange%20drop&inCategory=FILM%20%3E%20POLYPROPYLENE%20%3E%20RADIAL" target="_blank">Click here to browse our <strong>Polypropylene Orange Drop</strong> Capacitor inventory.</a><br>
                <a href="https://www.tedss.com/Catalog/Browse?searchString=orange%20drop&inCategory=FILM%20%3E%20POLYSTYRENE%20%3E%20RADIAL" target="_blank">Click here to browse our <strong>Polypropylene Orange Drop</strong> Capacitor inventory.</a>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9 px-4 px-md-2">
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Datasheets</th>
                                </tr>
                                <tr>
                                    <th>Dielectric</th>
                                    <th colspan="3">Series</th>
                                </tr>
                            </thead>
                            <tbody class="table-bordered">
                                <tr>
                                    <th>Polyester</th>
                                    <td><a target="spec" href="/tedss/content/specsheet/orangeDropCaps/225P-Orange-Drop-Capacitors.pdf"><img src="/tedss/content/images/pdfIcon.png" class="my-2"/><p>225P</p></a></td>
                                    <td><a target="spec" href="/tedss/content/specsheet/orangeDropCaps/418P-Orange-Drop-Capacitors.pdf"><img src="/tedss/content/images/pdfIcon.png" class="my-2"/><p>418P</p></a></td>    
                                </tr>
                                <tr>
                                    <th>Polyester/Polypropylene</th>
                                    <td><a target="spec" href="/tedss/content/specsheet/orangeDropCaps/PS-Orange-Drop-Capacitors.pdf"><img src="/tedss/content/images/pdfIcon.png" class="my-2"/><p>PS</p></a></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>Polypropylene</th>
                                    <td><a target="spec" href="/tedss/content/specsheet/orangeDropCaps/715P-Orange-Drop-Capacitors.pdf"><img src="/tedss/content/images/pdfIcon.png" class="my-2"/><p>715P</p></a></td>
                                    <td><a target="spec" href="/tedss/content/specsheet/orangeDropCaps/716P-Orange-Drop-Capacitors.pdf"><img src="/tedss/content/images/pdfIcon.png" class="my-2"/><p>716P</p></a></td>
                                </tr>
                                <tr>
                                    <th>Polystyrene</th>
                                    <td><a target="spec" href="/tedss/content/specsheet/orangeDropCaps/287P-Orange-Drop-Capacitors.pdf"><img src="/tedss/content/images/pdfIcon.png" class="my-2"/><p>287P</p></a></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>       
                        </table>
                    </div> 
                </div>
            </div>
        </div>
        <div class="mb-2"></div>
        <!-- *FOOTER**************************************************************** -->
        <div class="row mx-0 mb-2 mb-lg-3 rounded" id="footer">
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header">Quick Links</div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li >
                                <a href="/">Home</a><br/>
                                <a href="/Info/AboutUs">About Us</a><br/>
                                <a href="/ContactUs">Contact Us</a><br/>
                                <a href="/LearnMore">Resources</a><br/>
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li>
                                <a href="/Info/PrivacyPolicy">Privacy Policy</a><br/>
                                <a href="/Info/TermsAndConditions">Terms &amp; Conditions</a><br/>
                                <a href="/Info/ReturnPolicy">Return Policy</a><br/>
                                <a href="/Info/FAQ">Frequently Asked Questions</a><br/>
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li>
                                <a href="/customer/info">My Account</a><br/>
                                <a href="/customer/info">Register</a><br/>
                                <a href="/Newsletter">Newsletter Sign Up</a><br />                            
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg mt-2 mt-lg-0 px-0 px-lg-1 d-none d-md-block">
                <div class="card lg-4">
                    <div class="card-header">Follow Us</div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li><a  href="http://facebook.com/tedssdotcom/" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/TedssDotCom" target="_blank">Twitter</a></li>
                            <li><a  href="http://linkedin.com/company/tedssdotcom/" target="_blank">LinkedIn</a></li>
                            <li><a  href="https://plus.google.com/+TedssElectronics/posts" target="_blank" rel="publisher">Google +</a></li>
                            <li><a  href="http://pinterest.com/tedssdotcom/" target="_blank">Pintrest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 px-0 px-lg-1 mt-2 mt-lg-0 mx-0">                
                <div class="card">
                    <div class="card-header">Contact Information</div>
                    <div class="card-body">
                        <address>
                            <span class="biggerBlueTxt">Tedss.com</span>
                            <br>7290-A Investment Drive
                            <br>North Charleston, SC 29418
                            <br>Phone: (631) 234 - 3857
                            <br>Fax: (631) 234 - 7407
                            <br>&copy; Tedss.com 2005-2018
                        </address>
                    </div>
                </div>                
            </div>
        </div>
        <!-- *FOOTER**************************************************************** -->
    <!--container-->
    </div>
    <script src="/libraries/javascript/bootstrap-4.0.0/jQuery.3.3.1/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/bootstrap-4.0.0/popper.js.1.12.9/content/Scripts/umd/popper.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/bootstrap-4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script> 
    <script src="/libraries/javascript/fancybox/fancybox.js" type="text/javascript"></script>
    <script src="/utils/Utils.js" text="text/javascript"></script>
    <script src="/tedss/scripts/orangeDropCapsApp/App.js" type="text/javascript"></script>
</body>
</html>