<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polystyrene Film Capacitors</title>
    
    <meta name="description" content="Learn more about Orange Drop Capacitors."/>    
    <meta name="keywords" content=""/>    

   <!--css-->
   <link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <link href="/css/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/site.css" rel="stylesheet">
   <link href="/css/basket.css" rel="stylesheet">
   <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen"/>
   <!--scripts-->
   <script src="/scripts/stock/common.js" type="text/javascript"></script>    
   <script src="/scripts/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
   <script src="/scripts/jquery/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
   <script src="/scripts/jquery/jquery.validate.min.js" type="text/javascript"></script>
   <script src="/scripts/jquery/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
   <script src="/scripts/stock/scrollUp.js" type="text/javascript"></script>
</head>
<body id="top">
    <!--container***************************************-->
    <div class="container">        
        <div class="row" id="topPanel">
            <div class="col-lg-6" id="header2">
                <div class="media">
                    <div class="media-left d-none d-lg-block"  id="mLogo">
                        <a class="media-object" href="/"><img alt="Tedss.com logo." src="/css/images/tedssDotComLogo.png" /></a>
                    </div>
                    <div class="media-body  d-flex flex-column">
                        <div class="media-heading text-center"><h2 class="noWrap">Discount Electronic Components</h2></div>
                        <div class="order-first order-lg-2 text-center"><a href="/"><img class="img-fluid text-center" src="/css/images/tedssNamePic.png" width="415" height="38" alt="Tedss.com text."/></a></div>			
                    </div>
                </div>
            </div>  
            <div class="col-lg-6 " id="header3">
                <div class="text-center text-lg-right basket dSmallerTxt2">
                    <a href="#">My Account</a> | 
                    <a href="#">Sign In</a> | 
                    <a href="#">Shopping Cart</a>
                    <span> (0)</span>
                </div>                    
                <form class="form-inline justify-content-end" method="post" action="/Catalog/">
                    <div class="searchBox input-group input-group-sm">                        
                        <input class="form-control form-control-lg" name="SearchString"  type="text" placeholder="Search"   aria-label="Search"/>
                        <div class="input-group-append"><button class="btn form-control btn-primary" type="submit">Search</button></div>                        
                    </div>
                </form>
                <div class="text-center text-lg-right mt-1 mt-lg-0">Need assistance? Give us a call. (631) 234-3857</div>
            </div>
        </div>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded text-uppercase  py-0 py-lg-0" id="mainMenu">
            <span class="navbar-brand d-lg-none">Top menu</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Home</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Product Catalog</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Resources</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">About Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Contact Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">My Account</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item noWrap">
                        <!-- BEGIN ProvideSupport.com Text Chat Link Code -->
                        <div id="ciicT1" style="z-index:100;position:absolute"></div><div style="display:inline"><a href="#">LIVE CHAT</a></div></noscript>
                        <!-- END ProvideSupport.com Text Chat Link Code -->
                    </li>
                </ul>
            </div>
        </nav>  
        <div class="framedArea my-2">
            <div class="lightColorBar mx-2 mt-1 pl-3 text-center text-center"><h1>Polystyrene Film Capacitors</h1></div>
            <div class="breadCrumbs text-uppercase mx-3 mt-2"><a href="/">HOME</a> > <a href="/LearnMore">RESOURCES</a> > Polystyrene Film Capacitors</div>
        </div>
        <div class="framedArea my-2">
            <div class="text-center"><h2>Specification</h2></div>
            <div>
                <p class="m-2 ml-md-4">
                    Polystyrene film capacitors are highly regarded by the audiophile community for their low distortion factor, 
                    which makes these capacitors really shine in audio applications. 
                    Polystyrene capacitors are often used as replacements for ceramic and mica capacitors in audio circuits. 
                    However this type of capacitor is not limited to only audio applications, 
                    it’s perfect for any application that requires a through hole high tolerance capacitor. 
                    Polystyrene as a dielectric has many positive properties which include a low dielectric absorption, 
                    low distortion, low leakage, high insulation, and excellent temperature stability. 
                    Polystyrene film capacitors are available in both radial and axial leads. 
                    However the axial lead style is much more popular than the radial lead style.
                    Polystyrene capacitors are a excellent choice for applications like point to point wiring or PCB(Printed Circuit Board) applications.
                </p>
                <div class="col-12 col-md-10 offset-md-1 table-responsive mt-2 mt-md-3 text-center">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Polystyrene Dielectric Properties</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col" class="text-center">Property</th>
                            <th scope="col" class="text-center">Details</th>
                        </tr>
                        <tr>
                            <td>Dielectric Constant</td>
                            <td>2.5 - 2.6</td>
                        </tr>
                        <tr>
                            <td>Dielectric Strength</td>
                            <td>19.7 MV/m</td>
                        </tr>    
                        <tr>
                            <td>Loss Tangent</td>
                            <td>0.0001 at 100MHz<br>
                                0.00033 at 3GHz
                            </td>
                        </tr>
                        </tbody>
                    </table>      
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="m-2 ml-md-4">Popular Voltage Ratings:</p>
                        <ul class="ml-md-4">
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?Voltage=33">33VDC</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?Voltage=63">63VDC</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?Voltage=160">160VDC</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?Voltage=630">630VDC</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p class="m-2 ml-md-4">Popular Manufacturers Include:</p>
                        <ul class="ml-md-4">
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?MANUFACTURER=mepco">Mepco</a> / <a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?MANUFACTURER=philips">Philips</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?MANUFACTURER=mallory">Mallory</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?MANUFACTURER=f-dyne">F-Dyne/Southern Electronics</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?MANUFACTURER=mial">Mial</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?MANUFACTURER=rohm">Rohm</a></li>
                            <li><a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial?MANUFACTURER=siemens">Siemens/EPCOS</a></li>
                        </ul>
                    </div>
                </div>
                <p class="m-2 ml-md-4">
                    Identifying the voltage of a polystyrene film capacitor is very simple. 
                    All you have to do is just take a look at the color of the band on the capacitor. 
                    Follow the color code shown in the images below:
                </p> 
                <div class="row text-center">
                    <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/bluePsCap.jpg" alt="blue band" width="80%"><p>33VDC = Blue Band</p></div>
                    <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/yellowPsCap.jpg" alt="yellow band" width="80%"><p>63VDC = Yellow Band</p></div>
                    <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/redPsCap.jpg" alt="red band" width="80%"><p>160VDC = Red Band </p></div>
                    <div class="col-md-3 img-fluid"><img src="https://www.tedss.com/Stock/learnMore/blackPsCap.jpg" alt="black band" width="80%"><p>630VDC = Black Band</p></div>
                </div>
                <p class="m-2 ml-md-4">
                    <strong>Note:</strong> not all polystyrene film capacitors are color coded, some of them just have plastic sleeves with printed values on their cases.
                </p>
            </div>    
        </div>
        <div class="framedArea my-2">
            <h2 class="text-center pb-2">Part Number Breakdown for PS series Capacitors</h2>
            <div class="mt-2 mt-md-3 table-responsive col-md-10 mx-auto">
                <table class="table table-sm borderless text-center">
                    <tr>
                        <td><strong>PS</strong></td>
                        <td><strong>2</strong></td>
                        <td><strong>1</strong></td>
                        <td><strong>.033</strong></td>
                        <td><strong>75</strong></td>
                        <td><strong>5</strong></td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                    </tr>
                    <tr>
                        <td>Dielectric</td>
                        <td>Case Style</td>
                        <td>Size Class</td>
                        <td>Capacitance</td>
                        <td>Voltage</td>
                        <td>Tolerance</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                </table>
            </div>
            <div>
                <p class="m-2 ml-md-4">1. <strong>Dielectric</strong></p>
                <ul class="ml-md-4">
                <li>PS - Polystyrene</li>
                </ul>
                <p class="m-2 ml-md-4">2. <strong>Case Style</strong><br></p>
                <ul class="ml-md-4">
                    <li>1 - Round Body</li>
                    <li>2 - Flat Body</li>
                </ul>
                <p class="m-2 ml-md-4">3. <strong>Size Class</strong></p>
                <ul class="ml-md-4">
                    <li>1 - Standard Size</li>
                    <li>2 - Miniature</li>
                    <li>3 - Smallest Size</li>
                    <li>X - Custom Size</li>
                </ul>
                <p class="m-2 ml-md-4">4. <strong>Capacitance</strong><br>
                Capacitance is expressed in μF, use as many digits as required
                </p>
                <ul class="ml-md-4">
                    <li>100 = 10pF</li>
                    <li>101 = 100pF</li>
                    <li>102 = 1000pF</li>
                    <li>103 = .01μF</li>
                </ul>
                <p class="m-2 ml-md-4">4. <strong>Voltage Rating</strong><br>
                    Voltage rating is expressed in VDC
                </p>
                <p class="m-2 ml-md-4">5. <strong>Tolerance</strong><br>
                    Tolerance is expressed as a percentage
                </p>

            </div>     
        </div>
        <div class="framedArea my-2">
            <h2 class="text-center pb-2">Part Number Breakdown for SX series Capacitors</h2>
            <div class="mt-2 mt-md-3 table-responsive col-md-10 mx-auto">
                <table class="table table-sm borderless text-center">
                    <tr>
                        <td><strong>SX</strong></td>
                        <td><strong>K</strong></td>
                        <td><strong>139</strong></td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                    </tr>
                    <tr>
                        <td>Dielectric</td>
                        <td>Tolerance</td>
                        <td>Capacitance</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </table>
            </div>
            <div>
                <p class="m-2 ml-md-4">1. <strong>Dielectric</strong></p>
                <ul class="ml-md-4">
                    <li>SX - Polystyrene</li>
                </ul>
                <p class="m-2 ml-md-4">2. <strong>Case Size</strong><br></p>
                <ul class="ml-md-4">
                    <li>SXK, SXL, SXM - ±2.5%</li>
                    <li>SX - ±5.0%</li>
                </ul>
                <p class="m-2 ml-md-4">3. <strong>Capacitance</strong><br>
                    First two digits represent significant figures and the last digit indicates number of zeros to follow.<br>
                    Example:
                </p>
                <ul class="ml-md-4">
                    <li>100 = 10pF</li>
                    <li>101 = 100pF</li>
                    <li>102 = 1000pF</li>
                    <li>103 = .01μF</li>
                </ul>
            </div>     
        </div>
        <div class="framedArea my-2">
            <h2 class="text-center pb-2">Part Number Breakdown for 704C1 series Capacitors</h2>
            <div class="mt-2 mt-md-3 table-responsive col-md-10 mx-auto">
                <table class="table table-sm borderless text-center">
                    <tr>
                        <td><strong>704C1</strong></td>
                        <td><strong>NM</strong></td>
                        <td><strong>103P</strong></td>
                        <td><strong>F</strong></td>
                        <td><strong>251</strong></td>
                        <td><strong>S</strong></td>
                        <td><strong>X</strong></td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                    </tr>
                    <tr>
                        <td>Dielectric</td>
                        <td>Case Size</td>
                        <td>Capacitance</td>
                        <td>Tolerance</td>
                        <td>Voltage</td>
                        <td>Packaging</td>
                        <td>Lead Type</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                </table>
            </div>
            <div>
                <p class="m-2 ml-md-4">1. <strong>Dielectric</strong></p>
                <ul class="ml-md-4">
                    <li>704C1 - Polystyrene</li>
                </ul>
                <p class="m-2 ml-md-4">2. <strong>Case Size</strong><br></p>
                <ul class="ml-md-4">
                    <li><a href="https://www.tedss.com/Stock/learnMore/caseSizes704C1.PNG" target="_blank" alt="704C1 Case Sizes" class="fancybox">Click here to view <strong>704C1</strong> case sizes</a></li>
                </ul>
                <p class="m-2 ml-md-4">3. <strong>Capacitance</strong><br>
                    First two digits represent significant figures and the last digit indicates number of zeros to follow.<br>
                    Example:
                </p>
                <ul class="ml-md-4">
                    <li>100 = 10pF</li>
                    <li>101 = 100pF</li>
                    <li>102 = 1000pF</li>
                    <li>103 = .01μF</li>
                </ul>
                <p class="m-2 ml-md-4">4. <strong>Tolerance</strong></p>
                <ul class="ml-md-4">
                    <li>J = ±5%</li>
                    <li>G = ±2%</li>
                    <li>F = ±1%</li>
                </ul>
                <p class="m-2 ml-md-4">5. <strong>Voltage</strong><br>
                Voltage at 85°C
                </p>
                <ul class="ml-md-4">
                    <li>630 = 63V</li>
                    <li>161 = 160V</li>
                    <li>251 = 250V</li>
                    <li>631 = 630V</li>
                </ul>
                <p class="m-2 ml-md-4">6. <strong>Packaging</strong></p>
                <ul class="ml-md-4">
                    <li>A = Standard</li>
                    <li>T = Tape and Reel</li>
                </ul>
                <p class="m-2 ml-md-4">7. <strong>Lead Type</strong></p>
                <ul class="ml-md-4">
                    <li>X = Axial Lead</li>
                </ul>
            </div>     
        </div>
        <div class="framedArea my-2">
            <div class="text-center"><h2>Resources</h2></div>    
            <div class="alert alert-primary mt-2 mt-md-3 text-center biggerBlueTxt w-75 mx-auto" role="alert">
                <a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-axial" target="_blank">Click here to browse our <strong> Axial Polystyrene Film Capacitor</strong> inventory.</a><br>
                <a href="https://www.tedss.com/Capacitors/Browse/film-polystyrene-radial" target="_blank">Click here to browse our <strong> Radial Polystyrene Film Capacitor</strong> inventory.</a>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Datasheets</th>
                                </tr>
                                <tr>
                                    <th>Manufacturer</th>
                                    <th>Series</th>
                                    <th>Datasheet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>F-Dyne</th>
                                    <th>PS series</th>
                                    <td><a target="spec" href="https://www.tedss.com/DataSheets/2020/2020040779.pdf"><img src="https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png" width="60" height="70"/></a></td>
                                </tr>
                                <tr>
                                    <th>Mallory</th>
                                    <th>SX series</th>
                                    <td><a target="spec" href="https://www.tedss.com/DataSheets/2020/2020087490.pdf"><img src="https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png" width="60" height="70"/></a></td>
                                </tr>
                                <tr>
                                    <th>Mepco/Philips</th>
                                    <th>704C1 series</th>
                                    <td><a target="spec" href="https://www.tedss.com/DataSheets/2020/2020050290.pdf"><img src="https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png" width="60" height="70"/></a></td>
                                </tr>
                            </tbody>       
                        </table>
                    </div> 
                </div>
            </div>    
        </div>        
    <div class="mb-2">
        <!-- *FOOTER**************************************************************** -->
        <div class="row mx-0 mb-2 mb-lg-3 rounded" id="footer">
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header">Quick Links</div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li >
                                <a href="/">Home</a><br/>
                                <a href="/Info/AboutUs">About Us</a><br/>
                                <a href="/ContactUs">Contact Us</a><br/>
                                <a href="/LearnMore">Resources</a><br/>
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li>
                                <a href="/Info/PrivacyPolicy">Privacy Policy</a><br/>
                                <a href="/Info/TermsAndConditions">Terms &amp; Conditions</a><br/>
                                <a href="/Info/ReturnPolicy">Return Policy</a><br/>
                                <a href="/Info/FAQ">Frequently Asked Questions</a><br/>
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li>
                                <a href="/customer/info">My Account</a><br/>
                                <a href="/customer/info">Register</a><br/>
                                <a href="/Newsletter">Newsletter Sign Up</a><br />                            
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg mt-2 mt-lg-0 px-0 px-lg-1 d-none d-md-block">
                <div class="card lg-4">
                    <div class="card-header">Follow Us</div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li><a  href="http://facebook.com/tedssdotcom/" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/TedssDotCom" target="_blank">Twitter</a></li>
                            <li><a  href="http://linkedin.com/company/tedssdotcom/" target="_blank">LinkedIn</a></li>
                            <li><a  href="https://plus.google.com/+TedssElectronics/posts" target="_blank" rel="publisher">Google +</a></li>
                            <li><a  href="http://pinterest.com/tedssdotcom/" target="_blank">Pintrest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 px-0 px-lg-1 mt-2 mt-lg-0 mx-0">                
                <div class="card">
                    <div class="card-header">Contact Information</div>
                    <div class="card-body">
                        <address>
                            <span class="biggerBlueTxt">Tedss.com</span>
                            <br>7290-A Investment Drive
                            <br>North Charleston, SC 29418
                            <br>Phone: (631) 234 - 3857
                            <br>Fax: (631) 234 - 7407
                            <br>&copy; Tedss.com 2005-2018
                        </address>
                    </div>
                </div>                
            </div>
        </div>
        <!-- *FOOTER**************************************************************** --> 
    </div>      
    <script src="/scripts/bootstrap-4.0.0/jQuery.3.3.1/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-4.0.0/popper.js.1.12.9/content/Scripts/umd/popper.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <!--from bootstrap info -->
    <!--fancybox js-->
    <script src="/scripts/fancybox/jquery.fancybox.pack.js"></script> 
    <script src="/scripts/fancybox/fancybox.js" ></script>    
</body>
</html>