<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMD Tantalum Capacitors</title>
    
    <meta name="description" content=""/>    
    <meta name="keywords" content=""/>    

   <!--css-->
   <link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <link href="/css/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/site.css" rel="stylesheet">
   <link href="/css/basket.css" rel="stylesheet">
   <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen"/>
   <!--scripts-->
   <script src="/scripts/stock/common.js" type="text/javascript"></script>    
   <script src="/scripts/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
   <script src="/scripts/jquery/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
   <script src="/scripts/jquery/jquery.validate.min.js" type="text/javascript"></script>
   <script src="/scripts/jquery/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
   <script src="/scripts/stock/scrollUp.js" type="text/javascript"></script>
</head>
<body id="top">
    <!--container***************************************-->
    <div class="container">        
        <div class="row" id="topPanel">
            <div class="col-lg-6" id="header2">
                <div class="media">
                    <div class="media-left d-none d-lg-block"  id="mLogo">
                        <a class="media-object" href="/"><img alt="Tedss.com logo." src="/css/images/tedssDotComLogo.png" /></a>
                    </div>
                    <div class="media-body  d-flex flex-column">
                        <div class="media-heading text-center"><h2 class="noWrap">Discount Electronic Components</h2></div>
                        <div class="order-first order-lg-2 text-center"><a href="/"><img class="img-fluid text-center" src="/css/images/tedssNamePic.png" width="415" height="38" alt="Tedss.com text."/></a></div>			
                    </div>
                </div>
            </div>  
            <div class="col-lg-6 " id="header3">
                <div class="text-center text-lg-right basket dSmallerTxt2">
                    <a href="#">My Account</a> | 
                    <a href="#">Sign In</a> | 
                    <a href="#">Shopping Cart</a>
                    <span> (0)</span>
                </div>                    
                <form class="form-inline justify-content-end" method="post" action="/Catalog/">
                    <div class="searchBox input-group input-group-sm">                        
                        <input class="form-control form-control-lg" name="SearchString"  type="text" placeholder="Search"   aria-label="Search"/>
                        <div class="input-group-append"><button class="btn form-control btn-primary" type="submit">Search</button></div>                        
                    </div>
                </form>
                <div class="text-center text-lg-right mt-1 mt-lg-0">Need assistance? Give us a call. (631) 234-3857</div>
            </div>
        </div>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded text-uppercase  py-0 py-lg-0" id="mainMenu">
            <span class="navbar-brand d-lg-none">Top menu</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Home</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Product Catalog</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Resources</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">About Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">Contact Us</a></li>
                    <li class="nav-item noWrap"><a class="nav-link text-white rounded" href="#">My Account</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item noWrap">
                        <!-- BEGIN ProvideSupport.com Text Chat Link Code -->
                        <div id="ciicT1" style="z-index:100;position:absolute"></div><div style="display:inline"><a href="#">LIVE CHAT</a></div></noscript>
                        <!-- END ProvideSupport.com Text Chat Link Code -->
                    </li>
                </ul>
            </div>
        </nav>  
    <div class="framedArea my-2">
        <div class="lightColorBar mx-2 mt-1 pl-3 text-center"><h1> </h1>Surface Mount Tantalum Capacitors</div>
        <div class="breadCrumbs text-uppercase mx-3 mt-2"><a href="/">HOME</a> > <a href="/LearnMore">RESOURCES</a> >SMD Tantalum capacitors</div>
    </div>
    <div class="framedArea my-2">
        <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>SMD Tantalum capacitors</h2></div>
        <p class="m-2 ml-md-4">
            Tantalum capacitors, in a surface mount package, play a very important role in many of today’s consumer electronics. 
            They are used in cell phones and computers, which has allowed these devices to improve in performance and reducing their size. 
            This is a direct result of the advantages when using this material as a dielectric for capacitors.
        </p> 
        <div class="row">
            <div class="col-md-6">
                <p class="m-2 ml-md-4"><strong>Advantages of Tantalum Capacitors:</strong></p>
                <ul>
                    <li>They have a higher volumetric efficiency when compared to other types of capacitors.</li>
                    <li>They are easy to mount and take up very little space on a printed circuit board (PCB).</li>
                    <li>Tantalum capacitors have superior frequency characteristic.</li>
                    <li>They are very reliable, with a shelf life that is often regarded as unlimited.</li>
                    <li>They do not wear out in production.</li>
                    <li>They can function in a a very wide temperature range <strong>(-55°C to +125°C)</strong>.</li>
                </ul>  
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid" src="https://www.tedss.com/Stock/learnMore/kemet/smd-tantalum.jpg" alt="SMD-Tantalum Capacitor."/>       
            </div>      
        </div>
        <p class="m-2 ml-md-4">
            Tantalum, like gold and silver is considered a precious metal. Tantalum capacitors are made from powder of pure tantalum metal. 
            The small sizes of these capacitors and the advantages( as noted above) have allowed manufacturers to produce this style of capacitor in quantities that number in the billions world wide. 
            As surface mount technology continues to replace through-hole applications, this style will continue to grow in popularity with electrical engineers.
        </p>
        <p class="m-2 ml-md-4">
            At TEDSS you will be able to select from a wide range of style and brands of surface mount tantalum capacitors. 
            We have both molded and conformally coated tantalum capacitors. 
            You can chose from a list of EIA case sizes as well as from the hard to find JEIA case sizes.
            TEDSS can provide you with general purpose SMD capacitors or low ESR-SMD capacitors. 
            TEDSS has in stock low profile, high profile, and extended range case sizes. 
            And all of these types and styles are ready to ship right away at great prices.
        </p>
        <p class="m-2 ml-md-4">
            Some of the preferred brands that you can find at TEDSS are AVX, Kemet,NEC, Nichicon, Panasonic and Sprague /Vishay. 
            However, in an effort to continue to provide our customers with more choices and better pricing, TEDSS also stocks lesser known brands at very low prices. 
            Use our search tools to select the one that’s best for you.
        </p>
    </div>
    <div class="framedArea my-2">
        <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>SMD Tantalum Capacitors Case Sizes</h2></div>        
        <div class="row mx-2">
            <div>
                <p class="m-2 ml-md-4">
                    When selecting a SMD tantalum capacitor the case size is very important. 
                    There are many sizes to choose from and the manufactures do not all use the same code to indicate case size. 
                    For example, what AVX calls an E case size, Kemet calls out as an X case size. 
                    This can create problems for anyone who is unfamiliar with this fact. 
                    TEDSS, because of its parametric search capability, allows you to see the case size for each unit in stock. 
                    This helps to avoid the problem of getting the wrong size chip. 
                    We have provided you with a chart that shows you what letter is used in the part number, for some of the more popular brands, to indicate size.
                </p>
                <p class="m-2 ml-md-4">
                    Each manufacturer includes a case size in their part number. However they do not use the same format, 
                    for example an EIA size <strong>A</strong> case (3216) molded tantalum chip capacitor 1uF 16 volt 10% made by AVX has the following part number TAJ<strong>A</strong>106K016R. 
                    The same part listed by Kemet has this part number T491A105K016AS and Sprague/Vishay has it listed as this part number 293D105X9016<strong>A</strong>2T. 
                    The letter that determines the case size in the AVX and Kemet part numbers is in the same location (4th digit in the number) 
                    but in the Sprague/Vishay number it is the 12th digit in the part number.
                </p>        
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">EIA</th>
                            <th scope="col">3216-18</th>
                            <th scope="col">3528-21</th>
                            <th scope="col">6032-28</th>
                            <th scope="col">7343-31</th>
                            <th scope="col">7343-40</th>
                            <th scope="col">7343-43</th>
                            <th scope="col">7260-38</th>
                            <th scope="col">2012-12</th>
                            <th scope="col">3216-12</th>
                            <th scope="col">3528-12</th>
                            <th scope="col">6032-15</th>
                            <th scope="col">7343-20</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">L</th>
                            <td>3.2</td>
                            <td>3.5</td>
                            <td>6</td>
                            <td>7.3</td>
                            <td>7.3</td>
                            <td>7.3</td>
                            <td>7.3</td>
                            <td>2</td>
                            <td>3.2</td>
                            <td>3.5</td>
                            <td>6</td>
                            <td>7.3</td>
                        </tr>
                        <tr>
                            <th scope="row">W</th>
                            <td>1.8</td>               
                            <td>2.8</td>
                            <td>3.2</td>
                            <td>4.3</td>
                            <td>4.3</td>
                            <td>4.3</td>
                            <td>6</td>
                            <td>1.3</td>
                            <td>1.6</td>
                            <td>2.8</td>
                            <td>3.2</td>
                            <td>4.3</td>
                        </tr>
                        <tr>
                            <th scope="row">H</th>
                            <td>1.6</td>
                            <td>1.9</td>
                            <td>2.6</td>
                            <td>2.6</td>
                            <td>4</td>
                            <td>4</td>
                            <td>3.6</td>
                            <td>1.2</td>
                            <td>1.2</td>
                            <td>1.2</td>
                            <td>1.2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">AVX</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td>E</td>
                            <td></td>
                            <td>R</td>
                            <td>S</td>
                            <td>T</td>
                            <td>W</td>
                            <td>Y</td>
                        </tr>
                        <tr>
                            <th scope="row">CAL-CHIP</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td>E</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">DAEWOO</th>
                            <td>A</td>
                            <td>B2</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">KEMET</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td>Y</td>
                            <td>X</td>
                            <td>E</td>
                            <td>R</td>
                            <td>S</td>
                            <td>T</td>
                            <td>W</td>
                            <td>V</td>
                        </tr>
                        <tr>
                            <th scope="row">KOA</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>E</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>P</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">MATSUO</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C3</td>
                            <td>D3</td>
                            <td></td>
                            <td>H</td>
                            <td>E</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">NEC</th>
                            <td>A</td>
                            <td>S</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>P</td>
                            <td>A2</td>
                            <td>B2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">NEMCO</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td></td>
                            <td></td>
                            <td>H</td>
                            <td></td>
                            <td>XL</td>
                            <td>AL</td>
                            <td>BL</td>
                            <td>CL</td>
                            <td>DL</td>
                        </tr>
                        <tr>
                            <th scope="row">NIC</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td>E</td>
                            <td></td>
                            <td>P</td>
                            <td>A2</td>
                            <td>B2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">NICHICON</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>N</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>P</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">PANASONIC</th>
                            <td>Y</td>
                            <td>X</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td>E</td>
                            <td></td>
                            <td>Z</td>
                            <td>P</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">SAMSUNG</th>
                            <td>AB</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td></td>
                            <td>E</td>
                            <td></td>
                            <td>P</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">VISHAY</th>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td></td>
                            <td>E</td>
                            <td></td>
                            <td>P</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>V</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="framedArea my-2">
        <div class="mx-2 mt-2 mx-md-3 mt-md-3  text-center"><h2>SMD Tantalum Capacitors Tolerance</h2></div>
        <div class="row mx-2">
            <div class="col-md-8">
                <p class="m-2 ml-md-4">
                    Another important factor in selecting the best capacitor for your application is tolerance. 
                    This is the upper and lower limits of variation from a component’s nominal value, i.e., an allowable deviation. 
                    Most manufacturers use an industry standard to designate the tolerance however there are exceptions. 
                    For example, in the part numbers T491A105<strong>K</strong>016AS and TAJA105<strong>K</strong>016R the letter <strong>K</strong> is used to indicate 10% tolerance. 
                    In the part number 293D105X<strong>9</strong>016A2T it is the number <strong>9</strong> that indicates the same 10% tolerance. 
                    For your convenience we have included a chart that will help you to determine what tolerance is indicated in the part number for most component manufacturers. 
                    When selecting this style of capacitor 10% and 20% are the most common tolerances in commercial applications. 
                    A 5% tolerance is considered standard for military grade capacitors but special in a commercial applications.
                </p>
                <p class="m-2 ml-md-4">
                    Some of the most popular series of tantalum chip capacitors are made by AVX. 
                    Their TAJ series is a general purpose molded tantalum chip capacitor and it's produced in some of the most common values and sizes. 
                    TEDSS.com has most of the case sizes and values in stock.
                </p>            
            </div>
            <div class="col-md-4 text-center">
                <a href="https://www.tedss.com/Capacitors/Browse/tantalum-surface-mount" target="_blank">
                    <img class="img-fluid" src="https://www.tedss.com/Stock/learnMore/smd-tantalum-note.png" alt="SMD Promotional" />
                </a>
            </div>
        </div>
    </div> 
    <div class="framedArea my-2">
        <div class="mx-2 mt-2 mx-md-3 mt-md-3  text-center"><h2>Popular SMD Tantalum Capacitor Series</h2></div>
        <div class="row mx-2">
            <div class="col-md-12">
                    <p class="m-2 ml-md-4"><strong>Popular Series:</strong></p>
                    <ul>
                        <li>Kemet T491 series, and T494 / T495 low ESR series</li>
                        <li>Nichicon F93 series</li>
                        <li>NEC Chip ES/V series</li>
                        <li>Panasonic ECS-T series, and the discontiuned ECS-H series</li>
                        <li>Sprague/Vishay 293D series, 593D low ESR series, 893D fused series<br>
                            194D / 195D / 594D / 595D conformally coated</li>
                    </ul>
                <div>
                    <p class="m-2 ml-md-4">
                        The characteristic of this type of capacitor along with the cost and size has made this one of the most commonly used capacitors. 
                        In an effort to offer alternatives to surface mount tantalum capacitors many manufacturers make suggestions for replacements. 
                        Alternates with dielectrics such as niobium oxide or BME/ceramic capacitors, but engineers continue to design products with tantalum chip capacitors because they work so well.
                    </p>
                </div>    
            </div>
        </div>
    </div> 
    <div class="framedArea my-2">
        <div class="mx-2 mt-2 mx-md-3 mt-md-3 text-center"><h2>Resources</h2></div>
        <div class="alert alert-primary mt-2 mt-md-3 text-center biggerBlueTxt w-75 mx-auto" role="alert">
            <a href="https://www.tedss.com/Capacitors/Browse/tantalum-surface-mount" target="_blank">Click here to browse our SMD Tantalum Capacitors inventory.</a>
        </div>
    </div>    
    <div class="mb-2"></div>
        <!-- *FOOTER**************************************************************** -->
        <div class="row mx-0 mb-2 mb-lg-3 rounded" id="footer">
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header">Quick Links</div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li >
                                <a href="/">Home</a><br/>
                                <a href="/Info/AboutUs">About Us</a><br/>
                                <a href="/ContactUs">Contact Us</a><br/>
                                <a href="/LearnMore">Resources</a><br/>
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li>
                                <a href="/Info/PrivacyPolicy">Privacy Policy</a><br/>
                                <a href="/Info/TermsAndConditions">Terms &amp; Conditions</a><br/>
                                <a href="/Info/ReturnPolicy">Return Policy</a><br/>
                                <a href="/Info/FAQ">Frequently Asked Questions</a><br/>
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg px-0 px-lg-1">
                <div class="card">
                    <div class="card-header d-none d-lg-flex"><h5>&nbsp;</h5></div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li>
                                <a href="/customer/info">My Account</a><br/>
                                <a href="/customer/info">Register</a><br/>
                                <a href="/Newsletter">Newsletter Sign Up</a><br />                            
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg mt-2 mt-lg-0 px-0 px-lg-1 d-none d-md-block">
                <div class="card lg-4">
                    <div class="card-header">Follow Us</div>
                    <div class="card-body">
                        <ul class="pl-0 pl-md-2">
                            <li><a  href="http://facebook.com/tedssdotcom/" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/TedssDotCom" target="_blank">Twitter</a></li>
                            <li><a  href="http://linkedin.com/company/tedssdotcom/" target="_blank">LinkedIn</a></li>
                            <li><a  href="https://plus.google.com/+TedssElectronics/posts" target="_blank" rel="publisher">Google +</a></li>
                            <li><a  href="http://pinterest.com/tedssdotcom/" target="_blank">Pintrest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 px-0 px-lg-1 mt-2 mt-lg-0 mx-0">                
                <div class="card">
                    <div class="card-header">Contact Information</div>
                    <div class="card-body">
                        <address>
                            <span class="biggerBlueTxt">Tedss.com</span>
                            <br>7290-A Investment Drive
                            <br>North Charleston, SC 29418
                            <br>Phone: (631) 234 - 3857
                            <br>Fax: (631) 234 - 7407
                            <br>&copy; Tedss.com 2005-2018
                        </address>
                    </div>
                </div>                
            </div>
        </div>
        <!-- *FOOTER**************************************************************** -->
    </div> 
    <!-- from bootstrap info -->    
    <script src="/Tedss/scripts/bootstrap-4.0.0/jQuery.3.3.1/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/Tedss/scripts/bootstrap-4.0.0/popper.js.1.12.9/Tedss/content/Tedss/scripts/umd/popper.min.js" type="text/javascript"></script>
    <script src="/Tedss/scripts/bootstrap-4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- from bootstrap info -->
    <!--fancybox js-->
    <script src="/Tedss/scripts/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/Tedss/scripts/fancybox/fancybox.js" ></script>    
</body>
</html>