
body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(141deg,rgba(0, 51, 0,0), rgba(0, 51, 0,0.8));
    font-size: 18px;
    letter-spacing: 1px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    color: #333333 !important;
}

a {
    color: #51703b !important;
}

a:hover {
    text-decoration: none !important;
    color: #2D4D17 !important;
}

.body-content {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.button-color {
    background-color: #51703b;
    color: #fff !important;
    margin: 10px 0px 20px !important;
}

.button-color:hover {
    background-color: #2D4D17;
}

.input {
    padding: 10px !important;
}

hr {
    border-color: #51703b !important;
}

.part-number-section {
    margin-top: 25px;
}

.popup {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 5px solid #51703b;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media only screen and (min-width: 992px) {
    .popup-content {
        width: 55%;
    }
}

.popup-header {
    padding: 2px 16px;
    background-color: #51703b;
}

.popup-header h2 {
    color: #ffffff !important;
}

.popup-body {
    padding: 25px 16px;
}

.popup-content p {
    font-size: 20px;
}

.hidden{
    display: none;
}
.div-parent {
    height: 50px;
    line-height: 50px;
}

.div-child {
    vertical-align: middle;
}

.size-l {
    height: 150px;
    max-height: 150px;
}

.size-m {
    height: 125px;
    max-height: 125px;
}

.size-s {
    height: 100px;
    max-height: 100px;
}

img.ri {
    max-width: 90%;
    max-height: 90%;
}

img.large {
    width: 80%;
}

img.medium {
    width: 60%;
}

img.small {
    width: 40%;
}

img.extra-small {
    width: 20%;
}

/* resistor table classes */ 
.resTable {
	background-color: #603A27;
	table-layout: auto;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.resBlack {
	background-color: black;
}

.resBrown {
	background-color: brown;
}

.resRed {
	background-color: red;
}

.resOrange {
	background-color: orangered;
}

.resYellow {
	background-color: yellow;
}

.resGreen {
	background-color: green;
}

.resBlue {
	background-color: blue;
}

.resViolet {
	background-color: violet;
}

.resGray {
	background-color: gray;
}

.resWhite {
	background-color: white;
}

.resGold {
	background-color: gold;
}

.resSilver {
	background-color: silver;
}

/* .resNoColor {
	background-color: #603A27;
} */

.default {
    background-color: #808080;
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media only screen and (max-width: 576px) {
	.resTable {
		height: 100px;
	}
	#band1 {
		border-right: solid #603A27 20px;
		border-left: solid #603A27 40px;
	}
	#band2,
	#band3,
	#band4,
	#band5 {
		border-right: solid #603a27 20px;
	}
}

@media only screen and (min-width: 577px) {
	.resTable {
		height: 150px;
	}
	#band1 {
		border-right: solid #603A27 50px;
		border-left: solid #603A27 100px;
	}
	#band2,
	#band3,
	#band4,
	#band5 {
		border-right: solid #603a27 50px;
	}
}

@media only screen and (min-width: 768px) {
	.resTable {
		height: 150px;
	}
	#band1 {
		border-right: solid #603A27 25px;
		border-left: solid #603A27 50px;
	}
	#band2,
	#band3,
	#band4,
	#band5 {
		border-right: solid #603a27 25px;
	}
}

@media only screen and (min-width: 992px) {
	.resTable {
		height: 150px;
	}
	#band1 {
		border-right: solid #603A27 35px;
		border-left: solid #603A27 65px;
	}
	#band2,
	#band3,
	#band4,
	#band5 {
		border-right: solid #603a27 35px;
	}
}

@media only screen and (min-width: 1200px) {
	.resTable {
		height: 150px;
	}
	#band1 {
		border-right: solid #603A27 50px;
		border-left: solid #603A27 100px;
	}
	#band2,
	#band3,
	#band4,
	#band5 {
		border-right: solid #603A27 50px;
	}
}


/* don't touch classes below------------------------------------ */
/*Set widths on the form inputs since otherwise they're 100% wide*/

.input,
.select,
.textarea {
	max-width: 280px;
}

/*Move down content because we have a fixed navbar that is 50px tall*/

.body-padding {
	padding-top: 50px;
	padding-bottom: 20px;
}

/*Wrapping element*/
/*Set some basic padding to keep content from hitting the edges*/

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/*Responsive Screens*/
/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
	.container {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	.container {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* weird */

@media (max-width: 991px) {
	.container {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Large devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) {
	.container {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	.container {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}