<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Military Fuse Holders</title>
    <link href="/fedcon/content/css/site.css" rel="stylesheet">
    <link href="/libraries/css/bootstrap-3/bootstrap.min.css" rel="stylesheet">
    <link href="/libraries/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <script src="/libraries/javascript/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/bootstrap-3/bootstrap.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/fancybox.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
</head>
<body class="container">
    <div id="popupMilF19207" class="popup container-popup hidden">
        <div class="popup-content">
            <div class="popup-header">
                <h2>Incorrect Part Number</h2>
            </div>
            <div class="popup-body text-center">
                <p id="popupText"></p>
                <p>Please Try Again.</p>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <a href="https://federalconnectors.com/trim-pots" target="_blank">
            <img src="/fedcon/content/images/fuseHolders/FuseHolderBanner.jpg" alt="Fuse Holders Banner" class="ri" />
        </a>
    </div>
    <div class="well body-content">
        <h2 class="text-center">Military FuseHolders : MIL-F-19207</h2>
        <p class="text-justify">
            A fuse holder is a device designed for protecting and mounting fuses. Fuse holders are available in two different types open and fully enclosed. 
            Military grade fuseholders are fully enclosed in order to be shock proof and resistant to extreme temperatures and weather conditions. 
            Military fuseholders are compatible with both commercial and military (MIL-F-15160) fuses however they are designed for use with military fuses.
            You can identify a military fuseholder by the color of its body which typically is gray.
            To get more information on a specific part number please use our <a href="#partNumberAppMilF19207" alt="link to part number tool" target="_self"><strong>Part Number App</strong></a> below! 
        </p>
        <div class="row body-content">
            <div class="col-md-6">
                <h4 class="text-center"><strong>DoD* Standards for MIL-PRF-19207G</strong></h4>
                <ul>
                   <li>Salt Atmosphere (Corrosion)</li>
                   <li>Barometric Pressure (Reduced)</li>
                   <li>Moisture Resistance.</li>
                   <li>Thermal Shock Resistance</li>
                   <li>High Impact and Shock Resistance</li>
                   <li>Insulation Resistance</li>
                   <li>Contact Resistance</li>
                </ul>
                <p>* <strong>DEPARTMENT OF DEFENSE</strong></p>
            </div>
            <div class="col-md-6">
                <a href="https://federalconnectors.com/military-fuses" alt="link to military fuse landing page" target="_blank">
                    <div class="text-center">
                        <img src="/fedcon/content/images/fuseHolders/military-fuses.png" alt="military fuses size chart" class="ri medium">
                        <h4>Click Here to visit our<br><strong>Military Fuses</strong> Landing Page</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="text-center">
            <h3>Popular FuseHolders</h3>
            <div class="row">
                <div class="col-md-3">
                    <a href="/fedcon/content/images/fuseHolders/FHL18G-3.png" class="fancybox">
                        <img src="/fedcon/content/images/fuseHolders/FHL18G-3.png" alt="FHL18G1-3" class="ri">
                    </a>
                    <h2><a href="https://federalconnectors.com/FHL-18G3" target="_blank">FHL18G1-3</a></h2>
                </div>
                <div class="col-md-3">
                    <a href="/fedcon/content/images/fuseHolders/FHN42W.png" class="fancybox">
                        <img src="/fedcon/content/images/fuseHolders/FHN42W.png" alt="FHN42W" class="ri">
                    </a>
                    <h2><a href="https://federalconnectors.com/FHN-42W" target="_blank">FHN42W</a></h2>
                </div>
                <div class="col-md-3">
                    <a href="/fedcon/content/images/fuseHolders/FHL58G.png" class="fancybox">
                        <img src="/fedcon/content/images/fuseHolders/FHL58G.png" alt="FHL58G" class="ri">
                    </a>
                    <h2><a href="https://federalconnectors.com/FHL58G" target="_blank">FHL58G</a></h2>
                </div>
                <div class="col-md-3">
                    <a href="/fedcon/content/images/fuseHolders/FHL18G1-1.png" class="fancybox">
                        <img src="/fedcon/content/images/fuseHolders/FHL18G1-1.png" alt="FHL18G1-1" class="ri">
                    </a>
                    <h2><a href="https://federalconnectors.com/FHL18G1-1-BUSSMAN" target="_blank">FHL18G1-1</a></h2>
                </div>
            </div>
        </div>
    </div>
    <div id="partNumberAppMilF19207" class="panel panel-default">
        <div class="panel-heading text-center"><h2>MIL-F-19207 Part Number App</h2></div>
        <div class="panel-body body-content">
            <form id="formMilF19207" onsubmit="return false;">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="" for="partNumberMilF19207">Part Number</label>
                            <div class="text-center">
                                <input type="text" id="partNumberMilF19207" class="form-control" placeholder="FHL10U">    
                                <div class="div-parent"><input id="submitMilF19207" type="button" value="Submit" class="btn button-color btn-lg div-child" 
                                    onclick="validateMilF19207(partNumberMilF19207.value);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resourcesMilF19207" class="hidden">
                    <div class="well">
                        <h3 class="text-center">Technical Information</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Military Specification</th>
                                        <th>Government Designation</th>
                                        <th>Commercial Equivalent</th>
                                        <th>Electrical Rating</th>
                                        <th>Fuse Family</th>
                                        <th>Knob Description</th>
                                        <th>Number of Terminals</th>
                                        <th>Max Panel Thickness</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td id="militarySpecification"></td>
                                        <td id="governmentDesignation"></td>
                                        <td id="commercialEquivalent"></td>
                                        <td id="electricalRating"></td>
                                        <td id="fuseFamily"></td>
                                        <td id="knobType"></td>
                                        <td id="numberOfPoles"></td>
                                        <td id="maxPanelThickness"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <h3 class="text-center">Part Number Breakdown</h3>
                            <div class="col-md-2 col-md-offset-1 part-number-section">
                                <h4>FH</h4>
                                <hr>
                                <p><strong>FuseHolder</strong></p>
                            </div>
                            <div class="col-md-2 part-number-section">
                                <h4 id="characteristic">L</h4>
                                <hr>
                                <p><strong>Characteristic</strong></p>
                                <ul class="list-group list-group-flush">
                                    <li id="L" class="list-group-item"><strong>L</strong> - Indicating</li>
                                    <li id="N" class="list-group-item"><strong>N</strong> - Non-Indicating</li>
                                </ul>
                            </div>
                            <div class="col-md-2 part-number-section">
                                <h4 id="construction">18</h4>
                                <hr>
                                <p><strong>Construction</strong></p>
                            </div>
                            <div class="col-md-2 part-number-section">
                                <h4 id="enclosure">G</h4>
                                <hr>
                                <p><strong>Enclosure</strong></p>
                                <ul class="list-group list-group-flush">
                                    <li id="U" class="list-group-item"><strong>U</strong> - Drip Proof</li>
                                    <li id="G" class="list-group-item"><strong>G</strong> - Unsealed</li>
                                    <li id="W" class="list-group-item"><strong>W</strong> - Waterproof</li>
                                </ul>
                            </div>
                            <div class="col-md-2 part-number-section">
                                <h4 id="style">3</h4>
                                <hr>
                                <p><strong>Style</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">  
                        <div class="col-md-4">
                            <input id="resetMilF19207" type="reset" value="Reset" class="btn button-color btn-lg">
                        </div>
                        <div class="col-md-4">
                            <a id="diagramMilF19207" href="javascript:void(0);" class="fancybox">
                                <input type="button" value="View Diagram" class="btn button-color btn-lg">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/fedcon/content/specsheet/fuseHolders/BussmanFuseHolderDataSheet.pdf" target="_blank" alt="MIL-F-19207 datasheet"><input type="button" value="View SpecSheet" class="btn button-color btn-lg"></a>
                        </div>
                    </div>       
                </div>
            </form>
        </div>
    </div>
    <div class="well body-content">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="/fedcon/content/images/shared/federalConnectorLogo.png" alt="FedConLogo" class="ri" />
            </div>
            <div class="col-md-9 text-center">
                <h2><a href="https://federalconnectors.com/FuseHolders" target="_blank">Click here to browse our <strong>Fuse Holder</strong> inventory</a></h2>
                <p class="text-justify">
                    <strong>Federal Connectors</strong> is a supplier of Military Connectors,
                    Military Fuses, Military Potentiometers, Military Resistors, Military Relays and other electronic components to the US government and various subcontractors.
                    Our team at Federal Connectors has been serving government agencies and industrial organizations throughout the electronics community for over 25 years.
                    We provide our customers with an easy shopping experience and reliable fulfillment.
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/utils/Utils.js"></script>
    <script type="text/javascript" src="/fedcon/scripts/fuseHolderApp/App.js"></script>
</body>
</html>