<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Military Trimmer Potentiometers</title>
    <link href="/fedcon/content/css/site.css" rel="stylesheet">
    <link href="/libraries/css/bootstrap-3/bootstrap.min.css" rel="stylesheet">
    <link href="/libraries/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <script src="/libraries/javascript/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/bootstrap-3/bootstrap.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/fancybox.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
</head>
<body class="container">
    <div id="popup" class="popup container-popup hidden">
        <div class="popup-content">
            <div class="popup-header">
                <h2>Incorrect Resistance Code!</h2>
            </div>
            <div class="popup-body">
                <p id="popupText"></p>
                <p>Examples: 502,103</p>
                <p>Please Try Again.</p>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <a href="https://federalconnectors.com/trim-pots" target="_blank">
            <img src="/fedcon/content/images/trimPots/TrimPotsBanner.jpg" alt="Trim Pots Banner" class="ri" />
        </a>
    </div>
    <div class="well">
        <h2 class="text-center">How do Trimmer Potentiometers Work?</h2>
        <div class="row body-content">
            <div class="col-md-6">
                <p class="text-justify">
                    <strong>Trimmer Potentiometers</strong> or “<strong>Trim Pots</strong>” as they are often called are basically miniature three terminal variable resistors (potentiometers).
                    Trim pots work on the same principle as potentiometers.
                    Trim pots have three terminals two of which are connected to a resistive strip or resistive track, the third is connected to an adjustable wiper.
                    The position of the wiper on the resistive track determines the output voltage (as shown in the diagram).
                    The material that’s used for the resistive element typically is made out of a carbon composition(Wirewound) or cermet.
                    Usually trim pots are installed onto PCB’s (Printed Circuit Board) for fine tuning, (re)calibration, or any other type of adjustments in a circuit.
                    When trim pots are used as replacements for regular potentiometers, adjustments should only be done when it’s absolutely necessary.
                    Due to their size trim pots are very fragile, and most manufactures rate their lifespan at 200 cycles so frequent adjustments are not recommended.
                    This rating applies to both Mil-Spec and commercial variants of trim pots.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/fedcon/content/images/trimPots/trimPotDiagram1.png" class="ri" alt="trimpot diagram" />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Military Trim Pot Part Number Breakdown App</h2></div>
        <div class="panel-body body-content">
            <form id="form" onsubmit="return false;">
                <div class="row text-center">
                    <div id="divStyle" class="col-md-3">
                        <div class="well size-s">
                            <label for="style">Military Spec.</label>
                            <select id="style" class="form-control" onchange="populateResistanceM39015();validateM39015();">
                                <option value="">Select Spec Number</option>
                                <option value="RT12">RT12</option>
                                <option value="RT22">RT22</option>
                                <option value="RTR22">RTR22</option>
                                <option value="RT24">RT24</option>
                                <option value="RTR24">RTR24</option>
                                <option value="RT26">RT26</option>
                                <option value="RJ12">RJ12</option>
                                <option value="RJ22">RJ22</option>
                                <option value="RJ24">RJ24</option>
                                <option value="RJR24">RJR24</option>
                                <option value="RJ26">RJ26</option>
                                <option value="RJR26">RJR26</option>
                                <option value="RJ50">RJ50</option>
                                <option value="RJR50">RJR50</option>
                            </select>       
                        </div>
                    </div>
                    <div id="divTerminal" class="col-md-3">
                        <div class="well size-s">
                            <label for="terminal">Terminal</label>
                            <select id="terminal" class="form-control" onchange="validateM39015();">
                                <option value="">Select Terminal</option>
                            </select>
                        </div>
                    </div>
                    <div id="divResistance" class="col-md-3">
                        <div class="well size-s">
                            <label for="resistance">Resistance</label>
                            <input id="resistance" type="number" class="form-control" placeholder="Enter Three Digit Code '103'" onchange="validateM39015();">                        
                        </div>
                    </div>
                    <div id="divFailureRate" class="col-md-3">
                        <div class="well size-s">
                            <label for="failureRate">Failure Rate</label>
                            <select id="failureRate" class="form-control" onchange="validateM39015();">
                                <option value="">Select Failure Rate</option>
                                <option value="M">M</option>
                                <option value="P">P</option>
                                <option value="R">R</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="resources" class="hidden">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="showPartNumber">Part Number</label>
                                <input id="showPartNumber" type="text" class="form-control" disabled>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="showResistance">Resistance</label>
                                <input id="showResistance" type="text" class="form-control" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="showFailureRate">Failure Rate</label>
                                <input id="showFailureRate" type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div id="divCharacteristic" class="col-md-6 col-md-offset-3">
                                <label for="showCharacteristic">Characteristic</label>
                                <input id="showCharacteristic" type="text" class="form-control" disabled>
                            </div>
                            <div id="divAlternatePartNumber" class="col-md-6 hidden">
                                <label for="showM39015">M39015 Part Number</label>
                                <input id="showM39015" type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">  
                        <div class="col-md-4">
                            <input id="resetButton" type="reset" value="Reset" class="btn button-color btn-lg">
                        </div>
                        <div class="col-md-4">
                            <a id="terminalDiagram" href="javascript:void(0);" class="fancybox">
                                <input type="button" value="View Terminal" class="btn button-color btn-lg">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a id="specSheetLink" href="javascript:void(0);" target="_blank" alt="M22 data sheet link"><input type="button" value="View SpecSheet" class="btn button-color btn-lg"></a>
                        </div>
                    </div> 
                </div>      
            </form>
        </div>
    </div>
    <div class="well">
        <h2 class="text-center">RT/RTR & RJ/RJR Series Trim Pots</h2>
        <div class="body-content">
            <p class="text-justify">
                RT/RTR and RJ/RJR series trim pots are made to military specifications and are listed on the QPL (Qualified Parts List).
                Which simply means that they are on a government approved list of parts that are approved for government and military use.
                RT/RJ series trim pots are made to the MIL-PRF-22097 and the RTR/RJR series trim pots are made to the MIL-PRF-39035.
                The major difference between RT/RJ and the RTR/RJR series is that the RTR/RJR trim pots are offered with a failure rate.
                A failure rate is the frequency at which a component fails during testing over a set period of time.
                RTR/RJR series of trim pots are offered in three failure rate levels:
            </p>
            <p>
                Note: Failure per 1000 hours of testing
            </p>
            <ul>
                <li>M = 1.0%</li>
                <li>P = 0.1%</li>
                <li>R = 0.01%</li>
            </ul>
            <p class="text-justify">
                Although the RJ/RJR series and the RT/RTR series look pretty much identical, 
                they have two different restive elements used for the resistive track that the wiper follows.
            </p>
            <ul>
                <li>RT/RTR = Wirewound</li>
                <li>RJ/RJR = Cermet</li>
            </ul>
            <p class="text-justify">
                Please note that we at <a href="https://federalconnectors.com/" target="_blank"><strong>Federal Connectors</strong></a> recommend the RJ/RJR series trim pots over the RT/RTR series trim pots.
                Due to the RT/RTR series slowly becoming obsolete, there has been an increase in price of trim pots in that series.
                Another factor to take in consideration is longer lead times for trim pots that are out of stock from the RT/RTR series.
            </p>
            <p class="text-justify">
                All the series of trim pots mentioned above are a sealed style trim pot, which means that the resistive track and the wiper are covered by a protective material.
                These trim pots are available in a wide variety of resistance ranges.
                Depending on the series, these trim pots they may either have a temperature rating of -55°C to 150°C or -65°C to +150°C.
                Since trim pots are designed for making small adjustments to electrical circuits and are usually mounted to a PCB (Printed Circuit Board),
                they relatively have a low rotational life.
                Both the RT/RTR and the RJ/RJR series of trim pots are rated at 200 cycles (For more info take a look at the spec. tables below).
                Differentiating between manufactures is relatively easy, Bourns trim pots are blue in color and VRN trim pots are green (As shown in the images below).
            </p>
            <div class="row">
                <div class="col-md-6 text-center img-responsive">
                    <img src="/fedcon/content/images/trimPots/Bourns.png" alt="Bourns Trim Pot" class="ri">
                    <p>RT12 - Bourns</p>
                </div>
                <div class="col-md-6 text-center img-responsive">
                    <img src="/fedcon/content/images/trimPots/VRN.png" alt="VRN Trim Pot" class="ri">
                    <p>RT12 - VRN</p>
                </div>
            </div>
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="9" class="text-center">RT/RTR Specifications</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">Series</th>
                            <th scope="col" class="text-center">Mil-Pref</th>
                            <th scope="col" class="text-center">Power Rating</th>
                            <th scope="col" class="text-center">Size (in")</th>
                            <th scope="col" class="text-center">Standard Resistance Range</th>
                            <th scope="col" class="text-center">Absoulute Minimum Resistance</th>
                            <th scope="col" class="text-center">Temp. Range</th>
                            <th scope="col" class="text-center">Adjustment Travel</th>
                            <th scope="col" class="text-center">Torque</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RT12" target="_blank">RT12</a></th>
                            <td>MIL-PRF-27208</td>
                            <td>70°C 1 Watt</td>
                            <td>1 1/4</td>
                            <td>10 - 20K ohms</td>
                            <td>0.1% or 1ohm max</td>
                            <td>-55°C to +150°C</td>
                            <td>22 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RT22" target="_blank">RT22</a></th>
                            <td>MIL-PRF-27208</td>
                            <td>85°C 0.75 Watt</td>
                            <td>1/2"</td>
                            <td>50 - 20K ohms</td>
                            <td>0.1% or 1ohm max</td>
                            <td>-65°C to +150°C</td>
                            <td>25 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RTR22" target="_blank">RTR22</a></th>
                            <td>MIL-PRF-39015</td>
                            <td>85°C 0.75 Watt</td>
                            <td>1/2"</td>
                            <td>500 - 20K ohms</td>
                            <td>0.1% or 1ohm max</td>
                            <td>-65°C to +150°C</td>
                            <td>25 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RT24" target="_blank">RT24</a></th>
                            <td>MIL-PRF-27208</td>
                            <td>85°C 0.25 Watt</td>
                            <td>3/8"</td>
                            <td>10 - 10K ohms</td>
                            <td>0.1% or 1ohm max</td>
                            <td>-65°C to +150°C</td>
                            <td>25 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RTR24" target="_blank">RTR24</a></th>
                            <td>MIL-PRF-39015</td>
                            <td>85°C 0.25 Watt</td>
                            <td>3/8"</td>
                            <td>500 - 10K ohms</td>
                            <td>0.1% or 1ohm max</td>
                            <td>-65°C to +150°C</td>
                            <td>25 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RT26" target="_blank">RT26</a></th>
                            <td>MIL-PRF-27208</td>
                            <td>85°C 0.25 Watt</td>
                            <td>1/4"</td>
                            <td>10 - 5K ohms</td>
                            <td>0.25% or 1ohm max</td>
                            <td>-55°C to +150°C</td>
                            <td>11 turns nominal</td>
                            <td>3.0 oz-in. max</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="9" class="text-center">RJ/RJR Specifications</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">Series</th>
                            <th scope="col" class="text-center">Mil-Pref</th>
                            <th scope="col" class="text-center">Power Rating</th>
                            <th scope="col" class="text-center">Size (in")</th>
                            <th scope="col" class="text-center">Standard Resistance Range</th>
                            <th scope="col" class="text-center">Absoulute Minimum Resistance</th>
                            <th scope="col" class="text-center">Temp. Range</th>
                            <th scope="col" class="text-center">Adjustment Travel</th>
                            <th scope="col" class="text-center">Torque</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJ12" target="_blank">RJ12</a></th>
                            <td>MIL-PRF-22097</td>
                            <td>70°C 1 Watt</td>
                            <td>1 1/4</td>
                            <td>10 ohms - 1 megohm</td>
                            <td>1% or 2ohms max</td>
                            <td>-55°C to +150°C</td>
                            <td>22 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJ22" target="_blank">RJ22</a></th>
                            <td>MIL-PRF-22097</td>
                            <td>85°C 0.25 Watt</td>
                            <td>1/2"</td>
                            <td>10 ohms - 1 megohm</td>
                            <td>1ohm max</td>
                            <td>-65°C to +150°C</td>
                            <td>25 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJ24" target="_blank">RJ24</a></th>
                            <td>MIL-PRF-22097</td>
                            <td>85°C 0.50 Watt</td>
                            <td>3/8"</td>
                            <td>10 ohms - 1 megohm</td>
                            <td>2% or 20ohms max</td>
                            <td>-55°C to +150°C</td>
                            <td>25 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJR24" target="_blank">RJR24</a></th>
                            <td>MIL-PRF-39035</td>
                            <td>85°C 0.50 Watt</td>
                            <td>3/8"</td>
                            <td>10 ohms - 1 megohm</td>
                            <td>2% or 2ohms max</td>
                            <td>-55°C to +150°C</td>
                            <td>25 turns nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJ26" target="_blank">RJ26</a></th>
                            <td>MIL-PRF-22097</td>
                            <td>85°C 0.25 Watt</td>
                            <td>1/4"</td>
                            <td>10 - 1 megohm</td>
                            <td>2% or 20ohm max</td>
                            <td>-65°C to +150°C</td>
                            <td>12 turns nominal</td>
                            <td>3.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJR26" target="_blank">RJR26</a></th>
                            <td>MIL-PRF-39035</td>
                            <td>85°C 0.25 Watt</td>
                            <td>1/4"</td>
                            <td>10 - 1 megohms</td>
                            <td>2% or 2ohms max</td>
                            <td>-65°C to +150°C</td>
                            <td>12 turns nominal</td>
                            <td>3.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJ50" target="_blank">RJ50</a></th>
                            <td>MIL-PRF-27208</td>
                            <td>85°C 0.50 Watt</td>
                            <td>1/4"</td>
                            <td>10 - 1 megohms</td>
                            <td>1% or 2ohms max</td>
                            <td>-55°C to +150°C</td>
                            <td>1 turn (240°) nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                        <tr>
                            <th><a href="https://federalconnectors.com/search?q=RJR50" target="_blank">RJR50</a></th>
                            <td>MIL-PRF-39035</td>
                            <td>85°C 0.50 Watt</td>
                            <td>1/4"</td>
                            <td>10 - 1 megohms</td>
                            <td>1% or 2ohms max</td>
                            <td>-55°C to +150°C</td>
                            <td>1 turn (240°) nominal</td>
                            <td>5.0 oz-in. max</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/utils/Utils.js" type="text/javascript"></script>
    <script src="/fedcon/scripts/trimPotsApp/App.js" type="text/javascript"></script>
</body>
</html>