<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Military Potentiometers</title>
    <link href="/fedcon/content/css/site.css" rel="stylesheet">
    <link href="/libraries/css/bootstrap-3/bootstrap.min.css" rel="stylesheet">
    <link href="/libraries/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <script src="/libraries/javascript/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/bootstrap-3/bootstrap.min.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/fancybox.js" type="text/javascript"></script>
    <script src="/libraries/javascript/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
</head>
<body class="container">
    <div class="jumbotron text-center">
        <a href="https://federalconnectors.com/potentiometers" target="_blank">
            <img src="/fedcon/content/images/pots/PotentiometerBanner.jpg" class="ri" alt="Potentiometer Banner" />
        </a>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>RV Series Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>Specifications</p>
                            <p><a class="btn btn-default" href="#rvParagraph">Learn more &raquo;</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p>Part number breakdown</p>
                            <p><a class="btn btn-default" href="#rvPNB">View PNB &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>RA Series Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>Specifications</p>
                            <p><a class="btn btn-default" href="#raParagraph">Learn more &raquo;</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p>Part number breakdown</p>
                            <p><a class="btn btn-default" href="#raPNB">View PNB &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <h2 class="text-center">Potentiometer Characteristics</h2>
        <div class="body-content">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify">
                        A potentiometer simply is a three terminal variable resistor, and its most common use is as an adjustable voltage divider.
                        Informally people call potentiometers “pots”
                    </p>
                    <p class="text-justify">
                        RV series potentiometers are a carbon element military grade potentiometers made on par with the Department of Defense Mil-R-94 specification.
                        They are listed on the QPL (Qualified Parts List) for Government and Military use.
                        They are made out of a carbon element, the terminals are gold plated to improve conductivity, the shaft is stainless steel to insure durability, and the housing is made out of brass.
                        The resistance range for RV series potentiometers with a linear taper is 50Ω -5MΩ, and the resistance range for a log or reverse log taper pots is 150Ω-1MΩ.
                        The RV series potentiometers are environmentally resistant to humidity, vibration, and shock resistant as per the Mil-R-94 specification.
                        The operating temperature of all RV series potentiometers is -65° Celsius to +125° Celsius.
                        All RV series potentiometers have a rotational life of 25,000 cycles and a load life of 1000 hours at 70° Celsius making them very durable.
                    </p>
                </div>
                <div class="col-md-6 my-auto text-center">
                    <img src="/fedcon/content/images/pots/potentiometer_taper.png" class="large ri" alt="potentiometer taper graph" />
                </div>
            </div>
        </div>
    </div>
    <div class="well" id="rvParagraph">
        <h2 class="text-center">RV Series Potentiometers</h2>
        <div class="body-content">
            <p class="text-justify">
                RV series potentiometers are military grade potentiometers made on par with the Department of Defense Mil-R-94 specification. They are listed on the
                QPL (Qualified Parts List) for Government and Military use. They are made out of a carbon element, the terminals are gold plated to improve conductivity,
                the shaft is stainless steel to insure durability, and the housing is made out of brass. The resistance range for a linear taper is 50 ohms to 5 meg,
                and the resistance range for a logarithmic taper is 150 ohms to 1 meg. The RV series potentiometers are environmentally resistant to humidity,
                vibration, and shock resistant as per the Mil-R-94 specification. The operating temperature of all RV series potentiometers is -65° Celsius to +125° Celsius.
                All RV series potentiometers have a rotational life of 25,000 cycles and a load life of 1000 hours at 70° Celsius making them very durable.
            </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/search?q=rv2"><img src="/fedcon/content/images/pots/RV2.png" class="medium ri" alt="RV2"></a>
                        <p>RV2</p>
                    </div>
                    <ul>
                        <li>Suitable for both military and commercial applications</li>
                        <li>Gold plated terminals, one piece brass housing, and a stainless steel shaft</li>
                        <li>Custom shafts and bushings</li>
                        <li>Special tapers</li>
                        <li>Fourth (center) terminal</li>
                        <li>Attached switches</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/search?q=rv4"><img src="/fedcon/content/images/pots/RV4.png" class="medium ri" alt="RV4"></a>
                        <p>RV4</p>
                    </div>
                    <ul>
                        <li>Suitable for both military and commercial applications</li>
                        <li>RoHS and REACH complaint and contain no conflict minerals.</li>
                        <li>Gold plated terminals, and stainless steel shaft and housing</li>
                        <li>Custom shafts and bushings</li>
                        <li>Special tapers</li>
                        <li>Fourth (center) terminal</li>
                        <li>Attached switch</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/search?q=rv5"><img src="/fedcon/content/images/pots/RV5.png" class="medium ri" alt="RV5"></a>
                        <p>RV5</p>
                    </div>
                    <ul>
                        <li>RV5 potentiometer provides a low profile with lateral lug terminals</li>
                        <li>One piece housing and bushing, and stainless steel shaft</li>
                        <li>Special tapers</li>
                        <li>Custom shafts</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/search?q=rv6"><img src="/fedcon/content/images/pots/RV6.png" class="medium ri" alt="RV6"></a>
                        <p>RV6</p>
                    </div>
                    <ul>
                        <li>Suitable for applications requiring high reliability and a compact size</li>
                        <li>One piece brass housing and bushing, and stainless steel shaft</li>
                        <li>Compact size</li>
                        <li>Special tapers </li>
                        <li>Custom shafts and bushings</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/search?q=2rv7"><img src="/fedcon/content/images/pots/2RV7.png" class="medium ri" alt="2RV7"></a>
                        <p><a href="/search?q=2rv7">2RV7</a></p>
                    </div>
                    <ul>
                        <li>Suitable for both military and commercial applications requiring multiple elements</li>
                        <li>Dual potentiometer</li>
                        <li>Gold plated terminals, and stainless steel shaft and housing</li>
                        <li>Custom shafts and bushings</li>
                        <li>Special tapers</li>
                        <li>Fourth (center) terminal</li>
                        <li>Concentric shafts </li>
                        <li>Attached switches</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/search?q=rv8"><img src="/fedcon/content/images/pots/RV8.png" class="medium ri" alt="RV8"></a>
                        <p>RV8</p>
                    </div>
                    <ul>
                        <li>RV8 potentiometer was designed for PCB applications requiring a rugged potentiometer.</li>
                        <li>Stainless steel shaft </li>
                        <li>Compact size </li>
                        <li>Board washable </li>
                        <li>Special tapers</li>
                        <li>Custom shafts and bushings</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 table-responsive mt-2 mt-md-3">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Series</th>
                        <th scope="col">Wattage</th>
                        <th scope="col">Terminals</th>
                        <th scope="col">Switch</th>
                        <th scope="col">Mechanical Rotation</th>
                        <th scope="col">Operating Torque</th>
                        <th scope="col">Rotational Life</th>
                        <th scope="col">Mounting</th>
                    </tr>
                    <tr>
                        <td><a href="/search?q=rv2">RV2</a></td>
                        <td>1 Watt</td>
                        <td>3</td>
                        <td>No</td>
                        <td>300°</td>
                        <td>1 oz/in to 6 oz/in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                    <tr>
                        <td><a href="/search?q=rv4">RV4</a></td>
                        <td>2 Watt</td>
                        <td>3</td>
                        <td>Yes</td>
                        <td>314°</td>
                        <td>1 oz/in to 6 oz/in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                    <tr>
                        <td><a href="/search?q=rv5">RV5</a></td>
                        <td>1/2 Watt</td>
                        <td>3</td>
                        <td>No</td>
                        <td>300°</td>
                        <td>1 oz/in to 6 oz/in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                    <tr>
                        <td><a href="/search?q=rv6">RV6</a></td>
                        <td>1/2 Watt</td>
                        <td>3</td>
                        <td>No</td>
                        <td>295°</td>
                        <td>5 oz/in to 6 oz/in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                    <tr>
                        <td><a href="/search?q=2rv7">2RV7</a></td>
                        <td>2 Watt</td>
                        <td>6</td>
                        <td>No</td>
                        <td>314°</td>
                        <td>1 oz/in to 12 oz/in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                    <tr>
                        <td><a href="/search?q=rv8">RV8</a></td>
                        <td>1/2 Watt</td>
                        <td>3</td>
                        <td>No</td>
                        <td>295°</td>
                        <td>5 oz/in to 6 oz/in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel, PCB</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="well" id="rvPNB">
        <h2 class="text-center">Part Number Breakdown for RV Style Potentiometers</h2>
        <div class="body-content">
            <p><strong>An example:  RV4  N  A  Y  S  D  103  A</strong></p>
            <div class="mt-2 mt-md-3 table-responsive col-md-12 mx-auto">
                <table class="table table-sm borderless text-center">
                    <tr>
                        <td><strong>RV4</strong></td>
                        <td><strong>N</strong></td>
                        <td><strong>A</strong></td>
                        <td><strong>Y</strong></td>
                        <td><strong>S</strong></td>
                        <td><strong>D</strong></td>
                        <td><strong>103</strong></td>
                        <td><strong>A</strong></td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                    </tr>
                    <tr>
                        <td>Style</td>
                        <td>Bushing</td>
                        <td>Switch</td>
                        <td>Temp. & Moisture Characteristics</td>
                        <td>Shaft Style</td>
                        <td>Shaft Length</td>
                        <td>Resistance Value</td>
                        <td>Taper & Tolerance</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="row text-center">
                    <div class="col-md-3">
                        <p>1. <strong>Style</strong></p>
                        <ul class="list-unstyled">
                            <li>RV2</li>
                            <li>RV4</li>
                            <li>RV5</li>
                            <li>RV6</li>
                            <li>2RV7</li>
                            <li>RV8</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>2. <strong>Bushing</strong><br></p>
                        <ul class="list-unstyled">
                            <li>N = Standard</li>
                            <li>L = Locking</li>
                            <li>S = Panel & Shaft Seal</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>3. <strong>Switch</strong></p>
                        <ul class="list-unstyled">
                            <li>A = Without Switch</li>
                            <li>B = SPST Switch</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>
                            4. <strong>Temp. & Moisture Characteristics</strong><br>
                            Y = As per MIL-R-94
                        </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3">
                        <p>5. <strong>Shaft Style</strong></p>
                        <ul class="list-unstyled">
                            <li>S = Slotted</li>
                            <li>F = Flatted</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>6. <strong>Shaft Length</strong></p>
                        <ul class="list-unstyled">
                            <li>B = 1/2" Lead</li>
                            <li>A = 5/8"</li>
                            <li>D = 7/8"</li>
                            <li>G = 1 1/4"</li>
                            <li>J = 2"</li>
                            <li>K = 2 1/2"</li>
                            <li>L = 3/8"</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>
                            7. <strong>Resistance Value</strong><br>
                            Total Resistance Value in Ohms: First 2 numbers are significant digits, 3rd number is the number of zeros.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>8. <strong>Taper & Tolerance</strong></p>
                        <ul class="list-unstyled">
                            <li>A = Linear 10%</li>
                            <li>B = Linear 20%</li>
                            <li>C = Log 10%</li>
                            <li>D = Log 20%</li>
                            <li>E = Rev. Log 10%</li>
                            <li>F = Rev. Log 20%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well" id="raParagraph">
        <h2 class="text-center">RA Series Potentiometers</h2>
        <div class="body-content">
            <p class="text-justify">
                RA series potentiometers are wire-wound military grade potentiometers made to the Mil-R-19 specification.
                They are listed on the QPL (Qualified Parts List) for Government and Military use.
                They are made out of a wire-wound element (copper-nickel alloy), the shaft is made out of nickel plated brass making it very durable.
                The resistance range for a RA10 is 15Ω-2.5KΩ and it comes only in a linear taper. Resistance range for a RA20 pot is 1Ω-50KΩ and it comes in a linear, log, and reverse log taper.
                The RA30 pot has a resistance range of 1Ωt-25KΩ for a linear taper, and a log or a reverse log have a resistance range of 10Ω-7.5KΩ.
                The RA series potentiometers are environmentally resistant to humidity, vibration, and shock resistant as per the Mil-R-19 specification.
                The operating temperature of all RA series potentiometers is -55° Celsius to +125° Celsius.
                All RV series potentiometers have a rotational life of 25,000 cycles Celsius making them very durable.
            </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="/fedcon/content/images/pots/RA10.png" class="medium ri" alt="RA10">
                        <p>RA10</p>
                    </div>
                    <ul>
                        <li>Nickel plated brass shaft and bushings </li>
                        <li>Locking style bushing</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="/fedcon/content/images/pots/RA20.png" class="medium ri" alt="RA20">
                        <p>RA20</p>
                    </div>
                    <ul>
                        <li>Nickel-plated brass shaft and bushings</li>
                        <li>Locking style bushing optional</li>
                        <li>Panel and bushing seal optional</li>
                        <li>Flatted shaft optional</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="/fedcon/content/images/pots/RA30.png" class="medium ri" alt="RA30">
                        <p>RA30</p>
                    </div>
                    <ul>
                        <li>Nickel plated brass shaft and bushings</li>
                        <li>Shaft & mounting seals optional</li>
                        <li>Locking bushings optional</li>
                        <li>Flatted shaft optional</li>
                        <li>SPST rotary switch optional</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 table-responsive mt-2 mt-md-3">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Series</th>
                        <th scope="col">Wattage</th>
                        <th scope="col">Terminals</th>
                        <th scope="col">Switch</th>
                        <th scope="col">Mechanical Rotation</th>
                        <th scope="col">Operating Torque</th>
                        <th scope="col">Rotational Life</th>
                        <th scope="col">Mounting</th>
                    </tr>
                    <tr>
                        <td>RA10</td>
                        <td>1 1/2 Watt</td>
                        <td>3</td>
                        <td>No</td>
                        <td>300°</td>
                        <td>.05 oz-in to 6 oz-in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                    <tr>
                        <td>RA20</td>
                        <td>2 Watt</td>
                        <td>3</td>
                        <td>Yes</td>
                        <td>300°</td>
                        <td>.05 oz-in to 6 oz-in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                    <tr>
                        <td>RA30</td>
                        <td>4 Watt</td>
                        <td>3</td>
                        <td>Yes</td>
                        <td>300°</td>
                        <td>.05 oz-in to 6 oz-in</td>
                        <td>25,000 Cycles</td>
                        <td>Panel</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="well" id="raPNB">
        <h2 class="text-center">Part Number Breakdown for RA Style Potentiometers</h2>
        <div class="body-content">
            <p><strong>An example:  RA10  N  A  S  M  102  A</strong></p>
            <div class="mt-2 mt-md-3 table-responsive col-md-12 mx-auto">
                <table class="table table-sm borderless text-center">
                    <tr>
                        <td><strong>RA10</strong></td>
                        <td><strong>N</strong></td>
                        <td><strong>A</strong></td>
                        <td><strong>S</strong></td>
                        <td><strong>M</strong></td>
                        <td><strong>102</strong></td>
                        <td><strong>A</strong></td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                        <td>|</td>
                    </tr>
                    <tr>
                        <td>Style</td>
                        <td>Bushing</td>
                        <td>Switch</td>
                        <td>Shaft Style</td>
                        <td>Shaft Length</td>
                        <td>Resistance Value</td>
                        <td>Taper</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="row text-center">
                    <div class="col-md-3">
                        <p>1. <strong>Style</strong></p>
                        <ul class="list-unstyled"> 
                            <li>RA10</li>
                            <li>RA20</li>
                            <li>RA30</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>2. <strong>Bushing</strong><br></p>
                        <ul class="list-unstyled">
                            <li>N = Standard</li>
                            <li>L = Locking</li>
                            <li>S = Panel & Shaft Seal(Standard)</li>
                            <li>T = Panel & Shaft Seal(Locking)</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>3. <strong>Switch</strong></p>
                        <ul class="list-unstyled">
                            <li>A = Without Switch</li>
                            <li>B = SPST Switch</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p>4. <strong>Shaft Style</strong></p>
                        <ul class="list-unstyled">
                            <li>S = Slotted</li>
                            <li>F = Flatted</li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <p>5. <strong>Shaft Length</strong></p>
                        <ul class="list-unstyled">
                            <li>A = 1/2"</li>
                            <li>B = 5/8"</li>
                            <li>D = 7/8"</li>
                            <li>G = 1 1/4</li>
                            <li>K = 2 1/2"</li>
                            <li>L = 5/16"</li>
                            <li>D = 7/8"</li>
                            <li>M = 7/16"</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>
                            6. <strong>Resistance Value</strong><br>
                            Total Resistance Value in Ohms: First 2 numbers are significant digits, 3rd number is the number of zeros.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>7. <strong>Taper</strong></p>
                        <ul class="list-unstyled">
                            <li>A = Linear</li>
                            <li>C = Log.</li>
                            <li>E = Reverse Log.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well body-content">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="/fedcon/content/images/shared/federalConnectorLogo.png" alt="FedConLogo" class="ri" />
            </div>
            <div class="col-md-9 text-center">
                <h2><a href="https://federalconnectors.com/potentiometers" target="_blank">Click here to browse our <strong>Potentiometer</strong> inventory</a></h2>
                <p class="text-justify">
                    <strong>Federal Connectors</strong> is a supplier of Military Connectors,
                    Military Fuses, Military Potentiometers, Military Resistors, Military Relays and other electronic components to the US government and various subcontractors.
                    Our team at Federal Connectors has been serving government agencies and industrial organizations throughout the electronics community for over 25 years.
                    We provide our customers with an easy shopping experience and reliable fulfillment.
                </p>
            </div>
        </div>
    </div>
    <div class="well">
        <h2 class="text-center">Datasheets and Resources</h2>
        <div class="body-content">
            <div class="row">
                <div class="col-md-5">
                    <p class="text-justify">
                        <a href="https://federalconnectors.com/" target="_blank"><strong>Federal Connectors</strong></a> not only provides our customers with great products at exceptional prices.
                        We also offer our customers access to our vast library of resources, which includes everything from datasheets to technical drawings.
                    </p>
                    <p class="text-justify">
                        The most recent datasheets and specifications on RV and RA Series Potentiometers can be downloaded by clicking on the pdf icons.
                        Major manufactures of the RV and RA Series Potentiometers include Honeywell/Clarostat and PEC.
                    </p>
                </div>
                <div class="col-md-7 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">Datasheets</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-center">RV Series</th>
                                <th colspan="2" class="text-center">RA Series</th>
                            </tr>
                            <tr>
                                <th class="text-center">Series</th>
                                <th class="text-center">Datasheet</th>
                                <th class="text-center">Series</th>
                                <th class="text-center">Datasheet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>RA10</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RA10.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                                <th>RV2</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RV2.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                            </tr>
                            <tr>
                                <th>RA20</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RA20.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                                <th>RV4</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RV4.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                            </tr>
                            <tr>
                                <th>RA30</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RA30.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                                <th>RV5</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RV5.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                                <th>RV6</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RV6.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                                <th>2RV7</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/2RV7.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                                <th>RV8</th>
                                <td><a target="spec" href="/fedcon/content/specsheet/pots/RV8.pdf"><img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" height="100" width="100"/></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

    

