<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/fedcon/content/css/news.css" rel="stylesheet">
    <link href="/libraries/css/bootstrap-3/bootstrap.min.css" rel="stylesheet">
    <title>News Section</title>
</head>
<body class="container">
    <h1 class="text-center">News</h1>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>October 16th, 2019</h4>
            <h2 class="text-center heading-text">Bussmann Puts Hold On Shipping Select Military Fuses and Fuse Holders</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <a href="https://federalconnectors.com/search?q=Bussmann" target="_blank">
                        <img src="/fedcon/content/images/shared/bussmannLogo.png" alt="Eaton Bussmann Logo" class="resize-logo center-logo">
                    </a>
                    <p class="text-justify">
                        Due to a <strong>DLA</strong> issue with a few select military fuses and fuse holders, 
                        Bussmann will stop shipping all of the part numbers listed in the letter notification (click on PDF icon to download) they provided. 
                        This will be in effect until further notice.
                    </p>
                    <p class="text-red">
                        <strong>Note:</strong> all part numbers on the list marked in orange will become obsolete and no longer produced. 
                    </p>
                    <h4>
                        Click <a href="https://federalconnectors.com/search?q=Bussmann" target="_blank">Here</a> to view our Bussmann Fuses and Fuse Holder inventory.
                    </h4>
                </div>
                <div class="col-sm-4 div-parent text-center">
                    <a href="/fedcon/content/specsheet/news/Bus Military Stop Shipment.pdf"  class="div-child" target="_blank" alt="pdf list of fuses and fuse holders">
                        <img src="/fedcon/content/images/shared/pdf.png" alt="pdf icon" class="img-drop-shadow" height="100" width="100"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>